/*
Theme Name: RPlatform
Author: rplatform
Description: RPlatform political Theme.
Version: 1.0
Text Domain: rp
*/

@import url('css/bootstrap.min.css');
@import url('css/font-awesome.css');
@import url('css/main.css');
@import url('css/responsive.css');

.gallery-caption{ }
.bypostauthor{ }
.screen-reader-text{}


/*=================================
 *=======    Coming Soon    =======
 *================================= */
html {
    width: 100%;
    height: 100%;
}

.comingsoon{
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

.comingsoon-content {
    margin-top: 150px;
}
.comingsoon-content .logo-top {
    margin-bottom:30px;
}
#comingsoon-countdown .countdown-amount{
    display: block;
    font-size: 112px;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 100%;
}
#comingsoon-countdown .countdown-period{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.comingsoon .sub-page-header{
    margin-top: 60px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
}

.comingsoon .soon-page-header {
    font-size: 72px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 110px;
    color: #fff;
    text-transform: uppercase;
}

.coming-soon-form{
    width: 635px;
    margin: 40px auto 0;
    position: relative;
}

.coming-soon-form input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #acacac;
    display: block;
    font-size: 14px;
    height: 56px;
    margin: 0;
    opacity: 1;
    padding: 0 0 0 20px;
    width: 512px;
}
.coming-soon-form button{
    border: 0 none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 14px 22px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 0;
}

.countdown-days{
    color:#fff !important;
}
.countdown-hours{
    color:#fff !important;
}
.countdown-minutes{
    color:#fff !important;
}
.countdown-seconds{
    color:#fff !important;
}

.countdown-section:nth-child(1){
    /*background:#00aeef !important;*/
}
.countdown-section:nth-child(2){
    /*background:#ef4036 !important;*/
}
.countdown-section:nth-child(3){
    /*background:#f7941e !important;*/
}
.countdown-section:nth-child(4){
    /*background:#0e76bc !important;*/
}

.countdown-section {
    display: inline-block;
    padding: 35px 0 0px 0;
    width: 200px;
    position: relative;
}

.comingsoon .days, 
.comingsoon .hours, 
.comingsoon .minutes, 
.comingsoon .seconds {
    display: block;
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 700;
}
.countdown-section:after{
    position: absolute;
    top: -55px;
    left: 30px;
}

p.comingsoon-message-desc{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.comingsoon > div{
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.social-share ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.comingsoon .social-share ul li {
    display: inline-block;
    margin: 0 8px;
}

.comingsoon-footer {
    margin-top: 30px;
    margin-bottom: 70px;
}

.comingsoon .social-share li a {
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}
.comingsoon .social-share li a:hover {
    color: #fff;
}

.comingsoon-footer .copyright-text {
    font-size: 14px;
    color: #999999;
    margin: 35px 0 0;
}

.ads-style{
    margin: 10px 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: #0a0a0a;    
}
.cat-add{
    margin-bottom: 29px;
}

@media (min-width: 768px) and (max-width: 960px){ 
    .countdown-section {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .countdown-section {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 60px;
    }
    .comingsoon .soon-page-header {
        font-size: 36px;
    }
}


.pull-right {
    float: right;
}


/* counter */
.countdown-rp{

}
.countdown-rp .vc_column-inner{
    background-position: center center !important;
}

.rplatform-shortocde-counter{

}
.counter-content{
    width: 100%;
    margin-top: 85px;
}

.rplatform-counter-number{
    font-weight: 700;
}

.counter-number-title{
    margin-top: 60px !important;
}


/*=========================================
 *=======   Cuisine    ============
*=======================================*/

.woocommerce div.product {
    margin-bottom: 20px;
}
.product-content-inner {
    text-align: center;
}
.product-content-inner h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}
.product-thumbnail-outer-inner {
    position: relative;
    text-align: center;
}
.woocommerce .product-thumbnail-outer-inner .addtocart-btn a.button {
    bottom: auto;
    left: 19px;
    margin: auto;
    opacity: 0;
    padding: 15px 0 16px;
    position: absolute;
    right: 0;
    top: 180px;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    visibility: hidden;
    width: 171px; 
    background: #06396a none repeat scroll 0 0;
    border-radius: 2px;
    clear: both;
    color: #fff;
    display: table;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner .addtocart-btn a.button{
    visibility: visible;
    opacity: 1;
    top: 137px;
} 
.product-thumbnail-outer .product-thumbnail-outer-inner img,.product-img img {
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner img,.product-details:hover .product-img img {
    opacity: .4;
}
.product-content-inner h3 a {
    color: #000;
}
.woocommerce div.product .product-content-inner .price {
    color: #a1a198;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}
.woocommerce div.product span.onsale {
    min-height: 32px;
    min-width: 50px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 32px;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 2px;
    background-color: #e7272d;
    color: #fff;
    font-size: .857em;
    -webkit-font-smoothing: antialiased;
    z-index: 77;
}

.woo-products .woocommerce-ordering {
    display: none;
}

.woo-products .site-content h1.page-title {
    display: none;
}

.woo-products .woocommerce-result-count {
    display: none;
}
.woocommerce a.added_to_cart {
    padding-top: .5em;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    color: #000;
}
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images {
    width: 100%;
    float: none;
}
.woocommerce div.product .product_title {
    text-transform: uppercase;
    font-size: 28px;
    margin: 0 0 2px;
}
.woocommerce-review-link {
    color: #9C9C9C;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 20px;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: #39A511;
    font-size: 32px;
    margin-bottom: 40px;
    margin-top: 15px;
}
.product_meta {
    margin-bottom: 25px;
    margin-top: 30px;
}
.product_meta .posted_in {
    font-weight: 700;
    color: #9C9C9C;
}

.product_meta .posted_in a {
    color: #000;
}

.single_add_to_cart_button.button.alt {
    margin-top: 35px;
}
.woocommerce div.product form.cart div.quantity {
    float: none;
    font-size: 1px;
}
.woocommerce .quantity .input-text.qty.text {
    display: inline-block;
}
.quantity .btn-minus {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 50px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    background: transparent;
    border-right: 0;
}

.quantity .btn-plus {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 50px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    background: transparent;
    border-left: 0;
}
.quantity .input-text.qty.text {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 88px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    border-radius: 2px;
}
.related.products {
    margin-top: 70px;
    margin-bottom: 60px;
}
.woocommerce-tabs .nav-tabs {
    border: 1px solid #e9edf0;
    text-transform: uppercase;  
}
.woocommerce-tabs .nav-tabs>li {
    margin-bottom: 0;
}
.woocommerce-tabs .nav-tabs>li>a {
    border: none;  
    padding: 15px 10px 15px 25px;  
    position: relative;
}
.woocommerce-tabs .nav-tabs>li>a:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    border-width: 12px 12px;
    margin-left: -6px;
    border-style: solid;
    border-color: #e9edf0 rgba(0, 0, 0, 0) rgba(0, 128, 0, 0) rgba(255, 255, 0, 0);
    opacity: 0;
    -webkit-transition: 350ms ease-in;
    -moz-transition: 350ms ease-in;
    transition: 350ms ease-in;  
}
.woocommerce-tabs .nav-tabs>li.active>a, 
.woocommerce-tabs .nav-tabs>li.active>a:focus, 
.woocommerce-tabs .nav-tabs>li.active>a:hover {
    border: none;
}
.woocommerce-tabs .nav-tabs>li.active>a:before {
    opacity: 1;
    bottom: -24px;
}
.woocommerce-tabs .nav-tabs>li>a {
    color: #000;
}
.woocommerce-tabs .nav>li>a:focus, 
.woocommerce-tabs .nav>li>a:hover {
    text-decoration: none;
    background: none;
    border: none;  
}
.woocommerce-tabs .nav>li>a:hover:before {
    opacity: 1;
    bottom: -24px;
}

.woocommerce-tabs .tab-content h2,
.upsells.products h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 40px 0 20px;
}
.related.products  .related-title {
    text-transform: uppercase;
    font-size: 26px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 50px;
    border: 1px solid #e4e1e3;
    border-radius: 0px;
    padding: 1.5em 1.5em 1em;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    width: 35px;
    height: auto;
    margin: 0;
    box-shadow: none;
}


/* rplatform news feed shortcode */

.news-feed-wrap{
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 37px;
    padding-bottom: 31px;
}

.rp-news-feed-pro{
    margin-left: 8.33333%;
}

.news-feed-wrap h3{
    font-size: 32px;
    margin: 10px 0 20px;  
}

.news-feed-wrap a{
    color: #000;
}

.meta-date{
    font-size: 24px;
    margin-bottom: 18px;
    font-weight: 700;
}

.news-feed-content{

}
/*Home call to action*/
.call-to-title {
    color: #fff;
    font-size: 38px;
    letter-spacing: -0.52px;
    line-height: 0.8;
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.bordered-button.champ{
    margin-right: 30px;
    margin-top: 0;
}
.bordered-button.donate{
    margin-top: 0;
}
/*Home 2 Video Carousel*/
.vid-carous-btn button{
    border-radius: 2px !important;
}
/* ************************ Shop Area Start  ************************ */
/* ****************************************************************** */
.shop-area{
    background: #eaeae0;
    padding: 137px 0 120px;
}
.shop-area .section-title{
    margin-bottom: 15px;
}
.product-details {
    margin-top: 22px;
    min-height: 386px;
    text-align: center;
}
.pro_price_area {
    color: #a1a198;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 5px;
}
.product-img {
    position: relative;
}
.product-img .filled-button {
    bottom: auto;
    left: 19px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 180px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 171px;
    padding: 12px 0;
    line-height: inherit;
}
.product-img img{
    width: 100%;
}
.product-details h4 {
    margin-top: 11px;
    margin-bottom: 0;
}
.product-details h4 a{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}
.product-details p {
    color: #a1a198;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}
.product-details:hover .product-img .filled-button{
    visibility: visible;
    opacity: 1;
    top: 137px;
}
#product-crousel .col-md-4{
    width: 100%;
}
#product-crousel.owl-theme .owl-controls .owl-nav div {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    color: #d1d1c9;
    display: inline-block;
    font-size: 30px;
    margin: 0;
    opacity: 1;
    padding: 0;
}
#product-crousel.owl-theme .owl-controls .owl-nav div:hover{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
#product-crousel.owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
    position: relative;
}
#product-crousel.owl-theme .owl-controls .owl-nav .owl-prev{
    position: absolute;
    top: -235px;
    left: -74px;
}
#product-crousel.owl-theme .owl-controls .owl-nav .owl-next{
    position: absolute;
    top: -235px;
    right: -86px;
}
.added_to_cart{
    position: absolute;
    top: auto;
    visibility: hidden;
    bottom: 80px;
    right: 120px;
}
.product-img:hover .added_to_cart{
    visibility: visible;
}
/* ************************ Shop area End  ************************ */
/* **************************************************************** */


/* ************************ Resume Area Start  ************************ */
/* *********************************************************************** */
.resume-area{
    background: url(../images/home2/resumeBg.jpg) no-repeat scroll center center / cover;
    /*padding: 107px 0 110px;*/
    padding: 20px 0 100px;
}
.resume-content .section-title-2{
    margin-bottom: 20px;
}
.resume-content .section-subtitle-2{
    margin-bottom: 8px;
}
.divider-img {
    margin-bottom: 40px;
}
.item > h3{
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}
.item > p{
    color: #fff;
    font-size: 20px;
}
#resume-carousel .carousel-indicators {
    border-top: 5px solid #fff;
    bottom: 0;
    display: inline-block;
    left: 0;
    list-style: outside none none;
    margin-left: 0;
    margin-top: 56px;
    padding-left: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 15;
}
#resume-carousel .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 20px;
    height: auto;
    margin: 0;
    padding-top: 34px;
    text-align: center;
    text-indent: 0;
    width: 14.257%;
    position: relative;
}
#resume-carousel .carousel-indicators li.active{
    width: 14.257%;
}
#resume-carousel .carousel-indicators li:before{
    background: #000 none repeat scroll 0 0;
    border: 6px solid #fff;
    border-radius: 50%;
    content: "";
    height: 24px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -15px;
    width: 24px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

#resume-carousel .carousel-indicators li.active:before{
    height: 35px;
    top: -21px;
    width: 35px;
}
#resume-carousel .carousel-indicators li.active.first-init:after{
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 35px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -52px;
    width: 4px;
}
/* ************************ Resume Area End  ************************ */
/* ********************************************************************* */



/* ************************ Single image popup  ************************ */
/* **************************************************************** */

.conference-area {
    clear: both;
    display: table;
    width: 100%;
}

/*.conference-img {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}*/
.conference-area .conference-img {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.pull-left {
    float: left;
}

.conference-img .photo:before {
    background: rgba(237, 28, 36, 0.85) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    margin: 0 auto;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition: all 400ms ease 0s;
    visibility: hidden;
    width: 100%;
}

.photo{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;
}



.plus-icon::before {
    background: url(images/arrow.png) no-repeat scroll center center / cover;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    -webkit-transition: all 400ms ease 0s;
    transition: all 400ms ease 0s;
    visibility: hidden;
    height: 183px;
    width: 183px;
}

.plus-icon {
    display: block;
}

.conference-img img {
    width: 100%;
    min-height: 225px;
}

.conference-img:hover .photo:before, .conference-img:hover .plus-icon:before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ************************ Champaign Area Start  ************************ */
/* *********************************************************************** */

.video-container{
    padding: 223px 0;
    text-align: center;
    width: 100%;
    background-size: cover !important;
}
#videoPlay {
    color: #fff;
    font-size: 102px;
}

#clock,.clock{
    display: table;
    clear: both;
    width: 100%;
}
.counter-area{
    padding: 85px 0 70px 80px;
    width: 100%;
}
.counter-area h4 {
    color: #010101;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}
.count-number{
    color: #9e9e98;
    font-size: 36px;
    display: block;
    font-weight: 700;
}
.count-text{
    color: #9e9e98;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
}
.custom-timecounter .count-number,
.custom-timecounter .count-text{
    color: #fff !important;
    text-align: center;
}
.custom-timecounter .count-number{
    font-size: 52px !important;
}
.custom-timecounter-home3{
    width: 100% !important;
}
.single-count{
    margin-right: 77px;
    color: #fff;
}
.single-count.last{
    margin-right: 0;
}
.counter-area .filled-button{
    display: inline-block;
    font-size: 18px;
    margin: 50px auto 0;
}
.counter-area .section-title{
    margin-bottom: 16px;
    font-size: 48px;
    margin-top: 0;
    font-weight: 700;
}
.counter-area .section-subtitle{
    margin-bottom: 38px;
}
div.pp_default .pp_content, div.light_rounded .pp_content {
    background-color: transparent !important;
}
.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* ************************ Chaampaing Area End  ************************ */
/* ********************************************************************* */


/* ************************ volunteer css  ************************ */
/* ********************************************************************* */

.volunteer-details {
    margin-bottom: 37px;
}

.volunteer-img {
    cursor: pointer;
    position: relative;
}

.volunteer-img {
    cursor: pointer;
}

.volunteer-img img {
    max-width: 100%; 
}

.volunteer-overlay {
    background: rgba(6, 57, 106, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 400ms ease 0s;
    visibility: hidden;
    width: 100%;
}

.fa-user::before {
    content: "\f007";
}

.volunteer-overlay i {
    color: #fff;
    display: inline-block;
    font-size: 72px;
    padding-top: 100px;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}

.volunteer-details h4 {
    color: #2a303b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 19px;
    text-transform: uppercase;
}

.volunteer-details a {
    color: #909090;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.volunteer-img:hover .volunteer-overlay {
    visibility: visible;
    opacity: 1;
}

/* ************************  volunteer end css  ************************ */
/* ********************************************************************* */

/* ************************ Timeline Area Start  ************************ */
/* *********************************************************************** */
.pos-reletive{
    position: relative;
}
.timeline-area{
    background: #eeeeee;
    padding: 132px 0 145px;
    position: relative;
}
.timeline-title .section-title{
    margin-bottom: 18px;
}
.title-divider {
    margin-bottom: 79px;
}
.timeline-description {
    margin-top: 30px;
    padding-bottom: 28px;
    position: relative;
    padding-right: 62px;
}
.timeline-date{
    margin-top: 30px;
    padding-bottom: 49px;
    padding-left: 15px;
    position: relative;
}
.timeline-date::after {
    background: #eeeeee none repeat scroll 0 0;
    border: 6px solid #c4c4c4;
    border-radius: 50%;
    content: "";
    height: 24px;
    left: -27px;
    position: absolute;
    top: -3px;
    width: 24px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.timeline-description::after {
    background: #c4c4c4 none repeat scroll 0 0;
    content: "";
    height: 4px;
    left: auto;
    position: absolute;
    right: -3px;
    top: 7px;
    width: 36px;
}
.timeline-description::before {
    background: #c4c4c4 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: auto;
    position: absolute;
    right: 33px;
    top: 5px;
    width: 8px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.timeline-left-content .timeline-date{
    padding-left: 0;
    padding-right: 20px;
}
.timeline-left-content .timeline-date:after{
    left: auto;
    right: -27px;
}

.timeline-right-content .timeline-description{
    padding-left: 64px;
    padding-right: 0;
}
.timeline-right-content .timeline-description::before{
    left: 32px;
    right: auto;
    top: 10px;
}
.timeline-right-content .timeline-description::after{
    left: -4px;
    right: auto;
    top: 12px;
}
.timeline-description h6 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}
.timeline-description p {
    color: #2a2a2a;
    font-size: 16px;
}
.timeline-date p{
    color: #2a2a2a;
    font-size: 18px;
}
.timeline-row {
    background: #c4c4c4 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}
.timeline-row:after{
    background: #c4c4c4;
    border-radius: 50%;
    bottom: -11px;
    content: "";
    height: 12px;
    left: -4px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: auto;
    width: 12px;
}
.timeline-row:before{
    background: #c4c4c4;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: -4px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -11px;
    width: 12px;
}
/* ************************ Timeline Area End  ************************ */
/* ********************************************************************* */

/* custom css */
/*.photo-home{
  height: 330px;
}*/


/* visual composer home2 photo gallery add css */
.photo-gallery{
    height: 225px;
    margin-bottom: 0;
}


/* ********************************************************************* */
/* *************************** Start: 404  ***************************** */
/* ********************************************************************* */

.page-template-404{
    display: table;
    text-align: center;
    width: 100%;

}
.page-template-404 .error-page-inner{
    vertical-align: middle;
    display: block;
    height: 305px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.error-page-inner a.btn.btn-primary.btn-lg{
    background-color: #06396a;
}

p.error-message{
    padding-top: 25px;
    padding-bottom: 25px;
}

.error-page-inner a.btn.btn-primary.btn-lg{
    line-height: 40px;
    font-size: 16px;
    padding: 0 30px;
    border-radius: 3px;
    -webkit-box-shadow: none;
}  

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    display: inline;
    max-width: 100%;
    height: auto
}
/* ********************************************************************* */
/* ***************************** End: 404  ***************************** */
/* *********************************************************************  */

/* ************************ News Page Start  ************************ */
/* ********************************************************************* */
.news-area {
    padding: 104px 0 107px;
}
.news-list {
    margin: 0 0 60px;
}
.news-list:last-of-type{
    margin: 0 0 18px;
}
.news-post h3 {
    margin-bottom: 20px;
    margin-top: 43px;
}
.news-post h3 a {
    color: #000;
    font-size: 32px;
    font-weight: 700;
}
.news-post > p {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 23px;
}
.news-post > a {
    font-size: 16px;
    font-weight: 700;
}
.news-post > a i{
    display: inline-block;
    margin-left: 8px;
}
.news-post > a:hover{
    color: #000;
}
aside.widget:last-of-type{
    margin-bottom: 0;
}
.widget-title {
    font-size: 30px;
    line-height: 0.75;
    margin-bottom: 33px;
}
.widget-title span{
    color: #06396a;
}
.widget ul li {
    display: block;
}
.widget ul li a {
    font-size: 14px;
    color: #000;
    margin: 0;
    position: relative;
}
.widget ul li a:before{
    content: "";
    height: 13px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 5px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    visibility: hidden;
    opacity: 0;
}
.widget ul.product_list_widget li a:before{
    top: 10px;
}
.widget ul.product_list_widget li:first-child a:before{
    top: 6px;
}
.widget ul li a:hover{
    padding-left: 12px;
}
.widget ul li a:hover:before{
    visibility: visible;
    opacity: 1;
}
.widget ul li:last-child a{
    margin-bottom: 0;
}
.widget {
    clear: both;
    display: table;
    margin: 0 0 58px;
    width: 100%;
}
a.tags {
    background: #c3c4c7 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 8px;
}
.widget.tag-cloud{
    margin-bottom: 48px;
}
.widget-post{
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.widget-post:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
}
.widget-post h5{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 4px;
}
.widget-post a{
    font-size: 14px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
}

/* ************************ News Page End  ************************ */
/* ********************************************************************* */

/* ***************************Shop Single Page************************* */
.woocommerce .site-content .single-product-details .cart .button{
    padding: 15px 30px 16px;
    background: #06396a;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.woocommerce #review_form #respond .comment-form .form-submit input{
    background: #06396a none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 15px 30px 16px;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.tab-content .comment-respond .comment-form {
    margin: 0;
}
.comment-form label{
    font-weight: 400;
}
.tab-content #comments {
    padding: 0 0 60px;
}
.woocommerce #review_form #respond p.comment-form-rating {
    margin: 25px 0 0;
}
.vc_row.volunteer-bg-fix{
    background-position: center 35px !important;
}
.donation-button .filled-button {
    font-size: 16px;
    padding: 12px 29px 12px;
}
/*Counter Bg*/
.vc_row.counter-bg-fix{
    background-position: 720px center !important;
}
/*Home 3 Subscribe*/
.slider-form {
    display: table;
    clear: both;
    margin: 42px 0 0;
}
.slider-form p input{
    background: #f5f5f5 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #b7b7b7;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 0 auto 0;
    opacity: 1;
    padding: 0 0 0 25px;
    text-align: left;
    width: 100%;
}
.slider-form p {
    margin-bottom: 20px;
    float: left;
    width: 500px;
}
.slider-form p:nth-child(2){
    width: 212px;
}
.slider-form p:nth-child(3){
    width: 235px;
}
.slider-form p:nth-child(3) input{
    margin: 0 0 0 28px;
    background: #de1d25 none repeat scroll 0 0;
    color: #fff;
    text-align: center;
    padding-left: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.slider-form p:nth-child(3) input:hover{
    background: #06396a none repeat scroll 0 0;
}
/*Login form*/
.entry-content .woocommerce form.checkout_coupon, 
.entry-content .woocommerce form.login, .entry-content .woocommerce form.register {
    border: 0 none;
    border-radius: 0;
    display: table;
    margin: 0 auto 100px;
    padding: 0;
    text-align: left;
    width: 450px;
}
.entry-content .woocommerce h2 {
    text-align: center;
}
.entry-content .woocommerce .myaccount_user + h2 {
    text-align: left;
}
form.login label{
    font-weight: 400;
}
.entry-content .woocommerce .form-row{
    margin-bottom: 15px;
}

.entry-content .woocommerce .form-row input[type="submit"]{
    color: #fff;
    margin: 15px 15px 15px 0;
    padding: 12px 30px 13px;
}
.woocommerce form .form-row label, .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th {
    font-weight: 400 !important;
}
/*Widget style*/
.widget table caption {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 10px 0 14px;
    text-align: center;
}
.widget table thead tr th {
    color: #fff;
    padding: 12px 0;
    text-align: center;
}
.widget table tbody tr td,.widget table tfoot tr td {
    border: 1px solid #efefef;
    padding: 9px;
    text-align: center;
}
.widget .wp-caption.alignnone {
    clear: both;
    margin: 40px 0;
    max-width: 100%;
    padding: 4px 3px;
}
.widget.widget_recent_comments li a:before,.widget.widget_recent_entries li a:before{
    display: none;
}
.widget.widget_recent_comments li a:hover,.widget.widget_recent_entries li a:hover{
    padding-left: 0;
}
/*Event Month View*/
.tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a {
    color: #000;
}
.tribe-events-calendar td .tribe-events-viewmore a {
    font-weight: 400;
}
.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
    padding: 15px 8px 14px;
}
.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
    background-color: #183b6a;
    color: #fff;
}
ul.tribe-events-sub-nav li a{
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    padding: 11px 30px;
    margin-top: 20px;
}
ul.tribe-events-sub-nav li a span{
    display: none;
}
#tribe-events .tribe-events-button, .tribe-events-button {
    padding: 12px 20px;
}
.home2-count + a.filled-button{
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    padding: 12px 0 13px;
    position: relative;
    z-index: 1;
}
.home2-count + a.filled-button::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    width: 101%;
    z-index: -1;
}
.home2-count + a.filled-button:hover::before, .home2-count + a.filled-button:focus::before {
    transform: scale(1);
}
.home2-count + a.filled-button:hover{
    color: #000;
}
.layout-top.image img{
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 400ms ease 0s;
    transition: all 400ms ease 0s;
}
.rplatform-features:hover .layout-top.image img {
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
}
.rplatform-title.rplatform-callto-signup .filled-button{
    padding: 12px 28px 13px;
}
.rplatform-botton.vid-carous-btn a{
    margin-top: 60px;
    padding: 14px 40px !important;
    border-radius: 2px !important;
}
.woocommerce .site-content .woocommerce-message::before {
    color: #fff;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    border-top: 0 !important;
    color: #fff;
}
.site-content .woocommerce-message button.wc-forward:hover{
    background-color: transparent;
}

/********Update v_1.6******/
img{
    max-width: 100%;
    height: auto;
}
.entry-content img {
    display: block;
    max-width: 100%;
}
.vc_masonry_media_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item {
    transition: none !important;
}
.vc_grid-loading {
    display: none !important;
}

.embed-responsive {
    padding-bottom: 72.25%;
}
.home-cart.woocart .woocommerce.widget_shopping_cart{
    z-index: 99999;
}

.site-content{
    padding-bottom: 50px;
}
body.error404 .error-page-inner{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}