/*
 * rp
 * File Description: The main stylesheet of this theme for main design part. 
 * Author: rplatform
 * Website: http://www.rplatform.com/
 * Support: support@rplatform.com
 */

/*=======================================*
 *=======   TABLE OF CONTENT   ========*
*=======================================*

1. Footer
2. 404 Page
3. Contact Us
4. Coming Soon
5. Main Menu

=======================================*/


/*=========================================
 *=======     Button      ============
 *=======================================*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 25px;
}
a:hover,
a:focus {
    text-decoration: none;
}
.wrap-btn-style {
    margin: 20px 0 0;
}

a {
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}

a,a:focus{
    color: #f26522;
}

a:hover {
    color: #d54d0d;
}

.btn-blog {
    font-size: 16px;
    font-weight: 700;
}

.btn-blog i {
    display: inline-block;
    margin-left: 8px;
}

textarea,input {
    border: 1px solid #e3e3e3;
    transition: 300ms;
    -webkit-transition: 300ms;
    padding: 10px 15px;
}

input:focus, textarea:focus, 
keygen:focus, select:focus {
    border-width: 1px;
    border-style: solid;
    outline-offset: 0;
    outline: -webkit-focus-ring-color auto 0;
}

a:focus {
    outline-offset: 0;
    outline: -webkit-focus-ring-color auto 0;
}
/*=========================================
*=======     input fields       ============
*=======================================*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    min-height: 50px;
    font-weight: 400;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #e9edf0;
    transition: 300ms;
    -webkit-transition: 300ms;
}

.woocommerce a.button {
    color: #fff;
}

.woocommerce a.button:hover {
    color: #fff;
}

.rplatform-register-btn {
    color: #fff;
}

.btn.rplatform-register:hover {
    color: #fff;
}

.woocommerce .cart .button, 
.woocommerce .cart input.button {
    color: #fff;
    padding: 12px 15px;
}

/*==================================
*========= woocommerce =============
==================================== */


.woocommerce .products .product {
    width: 33.3333%;
    display: inline-block;
    float: left;
    list-style: none;
    margin-bottom: 20px;
}

.product-content-inner h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}

.woocommerce .products .star-rating {
    display: none;
}

.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a {
    float: left;
    width: 28.75%;
    margin-right: 3.8%;
    margin-bottom: 1em;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left;
    margin-right: 10px;
    margin-left: 0;
}
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
    border-radius: 2px;
    padding: 10px;
    min-height: 38px;
}
.woocommerce table.shop_table,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.quantity .input-text.qty.text {
    border: 1px solid #f2f2f2;
}
.woocommerce table.shop_table td {
    border-top: 1px solid #f2f2f2;
}
.woocommerce table.shop_table td {
    padding: 15px 20px;
}
.woocommerce table.shop_table td a {
    color: #000;
    transition: 300ms;
    -webkit-transition: 300ms;
}
.cart_totals.calculated_shipping h2 {
    font-size: 24px;
    text-transform: uppercase;
}
#add_payment_method #payment, .woocommerce-checkout #payment {
    background: #F3F3F3;
    border-radius: 4px;
    margin-bottom: 100px;  
}

.row.woo-products {
    margin: 0 0  30px;
}
form.cart-table {
    margin: 0 0 60px;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    margin: 20px 0 60px;
}

.woocommerce .col-1.address {
    margin-bottom: 100px;
}
.woocommerce .woocommerce-info {
    background: #06396a;
    border-top: 0;
    color: #fff;
}
.woocommerce .woocommerce-info a {
    color: rgba(255, 255, 255, 0.6);
}
.widget.woocommerce ul li a:hover {
    padding-right: 0;
}
.widget.woocommerce ul li a:before {
    display: none;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img {
    width: 60px;
}


/*=========================================
 *=======     Boxwidth       ============
 *=======================================*/


.boxwidth {
    position: relative;
    max-width: 1240px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.boxwidth #masthead.sticky {
    max-width: 1240px;
    top: 0;
}

.admin-bar #masthead.sticky {top:32px}

/*=========================================
*=======     Subtitle       ============
*=======================================*/
.breadcrumbs-area {
    z-index: 1;
    overflow: hidden;
    clear: both;
    display: table;
    overflow: hidden;
    width: 100%;
    margin-bottom: 100px;
}
.bread-content {
    display: table;
    margin: 0;
    padding: 35px 25px;
    position: relative;
}

.bread-content:before {
    background: rgba(6, 57, 106, 0.9) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 800px;
    left: -110px;
    position: absolute;
    top: -194px;
    transform: rotate(30deg);
    min-width: 350px;
    z-index: 1;
}

.bread-content h2 {
    color: #fff;
    font-size: 48px;
    letter-spacing: -1.92px;
    line-height: 44px;
    margin-bottom: 8px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    font-weight: 700;
}

.breadcrumbs-area .breadcrumb {
    background: none;
    padding: 0;
    margin: 5px 0 0;
    font-weight: 400;
    line-height: 35px;
    color: #fff;
    z-index: 2;
    position: relative;
}
.breadcrumbs-area .breadcrumb>li a {
    color: #fff;
}
.breadcrumbs-area .breadcrumb>.active {
    color: #fff;
}

/*=========================================
 *=======     Logo       ============
*=======================================*/
.logo-wrapper h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.header-menuclassic .logo-wrapper h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.header-menuwithsearch .logo-wrapper h1 {
    margin-bottom: 0;
}

.text-navbar-header {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block; 
}

/* Menu Button */

.menu-button:focus,
.close-button:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.menu-button {
    position: relative;
    z-index: 1000;
    margin: 0;
    padding: 0;
    width: 3em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 14px;
    color: transparent;
    background: transparent;
    display: inline-block;
    float: left;
    margin-top: 19px;
    margin-right: 0;
}
.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%);
    content: '';
}

.menu-button:hover {
    opacity: 0.7;
}
/* Close Button */
.menu-close-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    margin-top: 0px;
    -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    z-index: 2;
    background: #000;
}
.admin-bar .menu-close-container {
    top: 0;
}

.close-button {
    width: 2em;
    height: 2em;
    position: absolute;
    right: 19px;
    top: 17px;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.7em;
    border: none;
    background: transparent;
    color: transparent;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #fff;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*=========================================
 *=======     Topbar       ============
*=======================================*/
.topbar {
    padding: 5px 0;
    background: #DEDED5;
}


/*=========================================
 *=======     header       ============
*=======================================*/
.top-align {
    display: inline-block;
    margin-left: 15px;
}
.top-align a {
    color: #b8b8b8;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms; 
}

.top-align a:focus,
.top-align a:hover {
    color: #666;
}

/*=========================================
 *=======     header Search       ============
*=======================================*/
.home-search-wrap .container {
    position: relative;
}
.home-search  {
    position: absolute;
    right: auto;
    top: 0px;
    width: 100%;
    height: 0;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    z-index: 999999;
    background: #eaeae0;
    display: none;
}

.home-search.show {
    height: 100%;
    padding: 50px 50px 100px;
}

.home-search  #searchform input {
    color: #333;
}

.home-search #searchform .btn-search i {
    font-size: 14px;
    line-height: 14px;
}

.home-search #searchform input {
    height: 66px;
    border: none;
    box-shadow: none;
    font-weight: 300;
    padding: 10px 0;
    font-size: 30px;
    background: none;
}

.home-search #searchform input::-webkit-input-placeholder {
    color: #333;
}
.home-search #searchform input::-moz-input-placeholder {
    color: #333;
}

.hd-search-btn-close{
    position: absolute;
    font-size: 30px;
    right: 40px;
    top: 40px;
    color: #333;
    text-decoration: none;
}
.classic-search {
    position: absolute;
    right: 0;
    top:20px;
}

/*=========================================
 *=======     header social icon       ============
*=======================================*/
.social-icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-icon ul li{
    display: inline-block;
}
.social-icon ul li a{
    font-size: 16px;
    color: #c9c9c1;
    margin-right: 8px;
}
.social-icon ul li a:hover{
    color: #a3a39d;
}

/*=========================================
 *=======     Home Cart       ============
*=======================================*/
.home-cart.woocart {
    position: relative;
}
.widget.woocommerce.widget_shopping_cart {
    display: block;
}
.woo-cart:hover .widget.woocommerce.widget_shopping_cart {
    display: inline-block;
}

.home-cart.woocart .woocommerce.widget_shopping_cart {
    z-index: 99;
    position: absolute;
    width: 350px;
    right: 0;
    top: 53px;
    height: auto;
    line-height: normal;
    padding: 25px;
    text-align: left;
    display: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #f2f2f2;
    background: #eaeae0;
    border-top: 5px solid #d9d9d0;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}
.topbar .home-cart.woocart .woocommerce.widget_shopping_cart {
    top:35px;
}

.home-cart.woocart .woocommerce.widget_shopping_cart h2.widgettitle {
    display: none;
}

.home-cart.woocart a.btn-cart {
    padding: 10px 0 25px;
    position: relative;
}

.home-cart.woocart a.btn-cart:after {
  content: '';
  position: absolute;
  opacity: 0;
  left: 50%;
  bottom: -9px;
  z-index: 999;
  width: 0;
  height: 0;
  border-width: 5px;
  border-color: #d9d9d0 #d9d9d0 transparent transparent;
  border-style: solid;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  box-sizing: border-box;
  margin-left: -7px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.topbar .home-cart.woocart a.btn-cart:after {
    bottom: 10px;
}

.home-cart.woocart a.btn-cart:hover:after {
    opacity: 1;
}

.home-cart.woocart .woocommerce ul.cart_list li img, 
.home-cart.woocart .woocommerce ul.product_list_widget li img {
    width: 40px;
    margin-right: 15px;
    float: left;
}
.home-cart.woocart .woocommerce ul.product_list_widget li {
    padding-bottom: 20px;
}
.home-cart.woocart .woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 1.5em;
}
.home-cart.woocart .woocommerce ul.product_list_widget li a {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.home-cart.woocart .woocommerce ul.product_list_widget .quantity {
    font-size: 12px;
}

.home-cart.woocart .woocommerce ul.product_list_widget li a:before {
    display: none;
}

.home-cart.woocart .woocommerce ul.product_list_widget li a:hover {
    padding-left: 0;
}

.home-cart.woocart .woocommerce ul.product_list_widget li a:hover {
    color: #444;
}

.home-cart.woocart .woocommerce.widget_shopping_cart .cart_list li a.remove {
    top:2px;
}
.woocommerce .buttons a.button {
    color: #fff;
}
.home-cart.woocart .woocommerce.widget_shopping_cart .total {
    font-size: 14px;
    margin-bottom: 25px;
}

.home-cart.woocart .button.checkout.wc-forward {
    margin-left: 15px;
}

.home-cart.woocart .woocommerce a.remove {
    height: auto;
    width: auto;
    text-align: left;
    border-radius: 0;
    color: red!important;
}

.home-cart.woocart .woocommerce a.remove:hover {
    background: none;
}

/*=========================================
 *=======     Login popup       ============
*=======================================*/

#sign-in.modal {
    top: 20%;
}

#sign-in .modal-content {
    background-color: #eaeae0;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal {
    text-align: center;
}
.modal-content {
    border-radius: 0;
    padding: 30px 30px 0;
    font-size: 14px;
    background-color: #ffffff;
}
.modal-content .modal-header {
    border: none;
    padding: 0;
    margin: 0;
}
.modal-content .modal-header .title {
    margin-top: 0;
    font-weight: 600;
}
.modal-header .close {
    margin-top: -2px;
    position: absolute;
    right: 30px;
    top: 35px;
    color: #666;
    border: solid 2px #666;
    border-radius: 30px;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 35px;
    height: 35px;
    line-height: 33px;
    font-size: 18px;
    z-index: 99999;
}

.modal-header .close:hover {
    color: #06396a;
    border: solid 2px #06396a;
}

.modal-content input[type="text"] {
    margin-bottom: 25px;
}

.modal-content input[type="password"] {
    margin-bottom: 30px;
}

.modal-content .lost-pass strong{
    margin-left: 20px;
}

.modal-content .lost-pass {
    color: #000;
    transition: 300ms;
    -webkit-transition: 300ms;
}

.modal-content .modal-footer {
    padding: 20px 0 5px;
    border-top: 1px solid #e5e5e5;
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
}

#sign-in .modal-body h2 {
    margin: 0 0 30px 0;
    font-size: 24px;
}

.btn-block.submit_button {
    color: #fff;
    font-size: 16px;
    padding: 12px 12px;  
    margin-bottom: 25px;
}

#sign-in #login p {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid #999;
}

#sign-in .modal-content a {
    color: #06396a;
}

.rplatform-register {
    margin-bottom: 60px;
}

.rplatform-register .form-group {
    margin-bottom: 25px;
}

/*=========================================
 *=======     Logo       ============
*=======================================*/

.rp-navbar-brand {
    display: block;
    text-align: center;
}
.rp-logo {
    display: inline-block;
}



/*=========================================
 *=======     Navigation       ============
*=======================================*/

.classic-menu {
    position: relative;
}

#main-menu {
    text-align: right;
}

.navbar-header {
    margin-bottom: 0;
}

#navigation .navbar-brand {
    height: 0;
    padding: 0;
    margin: 12px 0 0;
}

#navigation .navbar-nav {
    float: right;
}

#navigation a.navbar-brand h1 {
    margin: 0;
    font-size: 42px;
}

.admin-bar #masthead.sticky {top:32px}

#navigation .navbar-header .navbar-toggle {
    margin: 12px 0 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
}

.navbar-toggle .icon-bar{
    background-color: #fff;
    transition: 300ms;
    -webkit-transition: 300ms;
}

#navigation .navbar-header .navbar-toggle:hover,
#navigation .navbar-header .navbar-toggle:focus {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.main-menu-wrap {
    width: 100%;
    display: table;
    position: relative;
}

.header-menulogocenterwithsc .main-menu-wrap {
    padding: 0 40px;
}

.common-menu {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.common-menu-wrap {
    position: inherit;
}

#left-menu.common-menu-wrap {
    text-align: right;
}

.common-menu-wrap #menu-right-menu.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9;
    display: block;
}
.common-menu-wrap #menu-left-menu.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9;
    display: block;
    text-align: right;
}

.common-menu-wrap .nav>li {
    display: inline-block;
    position: relative;
    padding: 0;
}

.common-menu-wrap .nav>li>a {
    display: inline-block;
    line-height: normal;
    height: auto;
    padding: 25px 0 26px;
    margin: 0 12px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #183b6a;
    position: relative;
}

.common-menu-wrap .nav li:last-child  a{
    margin-right: 0;
}

.common-menu-wrap .nav>li.fixed-menu {
    margin-left: 20px;
}


.common-menu-wrap .nav>li>a:hover,
.common-menu-wrap .nav>li>a:focus {
    background-color: transparent;
}

.common-menu-wrap .nav>li.active>a {
    font-weight: bold;
}

.common-menu-wrap .nav>li.menu-item-has-children > a:after{
    content: " \f107";
    font-family: "FontAwesome";
}

.page-template-homepage-transparent-php #masthead.sticky .common-menu-wrap .nav>li.fixed-menu>a {
    color: #fff;
}

.common-menu-wrap .nav>li > ul{
    padding: 0px 0 0;
}

.common-menu-wrap .nav>li ul {
    text-align: left;
    position: absolute;
    left: 0;
    list-style: none;
    margin: 0;
    width: 220px;
    display: none;
    z-index: 999999;
    background: #eaeae0;
    border-top: 5px solid #c9c9c1;
    color:#fff; 
    -webkit-transition: all 400ms ease 0s;
    transition: all 400ms ease 0s;
}

.common-menu-wrap .nav>li > ul::before {
    border-bottom: 8px solid #c9c9c1;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    left: 18px;
    position: absolute;
    top: -13px;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    width: 10px;
}

.common-menu-wrap .nav>li.fixed-menu a {
    color:#fff;
    line-height: 36px;
    border-radius: 4px;
    transition:300ms;
    -webkit-transition:300ms;
}

.common-menu-wrap .nav>li.fixed-menu a:hover {
    color: #fff;
}


.common-menu-wrap .nav>li:hover>ul {
    display: block;
    -webkit-animation: fadeIn 300ms;
    animation: fadeIn 300ms;
}

.common-menu-wrap .nav>li>ul li a {
    display: block;
    line-height: normal;
    padding: 13px 20px;
    font-size: 12px;
    border-bottom: 1px solid #d9d9d0;
    color: #85857f;
    text-transform: uppercase;
    transition:400ms;
    -webkit-transition:400ms;    
}

.common-menu-wrap .nav>li>ul li > div {
    padding: 0 20px 10px;
    font-size: 13px;
}

.common-menu-wrap .nav>li>ul li > a:before {
    content: "";
    float: left;
    height: 14px;
    margin-right: 0;
    position: relative;
    top: 1px;
    -webkit-transition: all 400ms ease 0s;
    transition: all 400ms ease 0s;
    width: 0;
}

.common-menu-wrap .nav>li>ul li:hover > a:before,
.common-menu-wrap .nav>li>ul li.active > a:before {
    margin-right: 7px;
    width: 4px;
}

.common-menu-wrap .nav>li>ul {
    transition:300ms;
    -webkit-transition:300ms;   
}

.common-menu-wrap .nav>li>ul li {
    transition:300ms;
    -webkit-transition:300ms;   
}


.common-menu-wrap .nav>li>ul li {
    position: relative;
    transiton:300ms;
    -webkit-transiton:300ms;
    -moz-transiton:300ms;
}

.common-menu-wrap .nav>li>ul >li.menu-item-has-children {
    position: relative;
    display: block;
}

.common-menu-wrap .nav>li>ul >li.menu-item-has-children:after {
    position: absolute;
    content: "\f105";
    right: 15px;
    top: 6px;
    color: #7D7D7D;
    font-size: 18px;
    font-family: FontAwesome;
}


.common-menu-wrap .nav>li>ul li>ul {
    display: none;
    position: absolute;
    top: 0;
    left: 220px;
    padding: 0;
}

.common-menu-wrap .nav>li>ul li:hover>ul {
    display: block;
    -webkit-animation: fadeIn 300ms;
    animation: fadeIn 300ms;
}

/*============   Megamenu  ==============*/

.common-menu-wrap .nav>li.has-megasub {
    position: inherit;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu{
    padding: 42px 30px;
    width: 100%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu > li {
    float: left;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-4 > li{
    width: 25%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-3 > li{
    width: 33%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-2 > li{
    width: 50%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-1 > li{
    width: 100%;
}



/*===========   Mobile Menu   ===========*/

#mobile-menu{
    position: absolute;
    top: 73px;
    width: 100%;
    z-index: 9;
    right: 0;
    z-index: 999;
    background: #eeeeee;
}

#mobile-menu .navbar-collapse.collapse,
#mobile-menu .navbar-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}

.admin-bar #mobile-menu {
    top: 66px;
}

.header-solid #mobile-menu {
    top: 32px;
}

.admin-bar .header-solid #mobile-menu {
    top: 130px;
}

.col-xs-4.visible-xs {
    position: absolute;
    right: 0;
}

.navbar-toggle .icon-bar {
    background: #000;
    width: 25px;
    height: 3px;  
}

.navbar-toggle {
    padding: 0;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    float: none;
    position: absolute;
    right: 20px;
    z-index: 3;
}

.header-solid .navbar-toggle .icon-bar {
    background: #000;
}

#navigation #mobile-menu .navbar-nav {
    float: none;
}

#navigation #mobile-menu .navbar-nav {
    margin: 0;
    background-color: #29333f;
}


#mobile-menu .navbar-collapse{
    border: 0;
}

#mobile-menu .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-top: 0 !important;
}

#mobile-menu ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mobile-menu ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    display: block;
}

#mobile-menu ul ul {
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 0; 
}

#mobile-menu ul li span.menu-toggler {
    display: inline-block;
    width: 34px;
    cursor: pointer;
    color: #000;
    height: 34px;
    line-height: 34px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

#mobile-menu ul li:hover .menu-toggler{
    color: #222;
}

#mobile-menu ul li {
    line-height: 20px;
    display: block;
}

#mobile-menu ul li span.menu-toggler i {
    display: block;
    line-height: 34px;
}

#mobile-menu ul li span.menu-toggler .fa-angle-right,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-down {
    display: none;
}

#mobile-menu ul li span.menu-toggler .fa-angle-down,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-right {
    display: block;
}

#navigation #mobile-menu .navbar-nav>li>a:focus, 
#navigation #mobile-menu .navbar-nav>li>a:hover {
    background-color: transparent;
}

@media only screen and (max-width : 768px) {
    #masthead.sticky {
        position: inherit !important;
    }
}

#navigation .navbar-header .navbar-toggle:hover, 
#navigation .navbar-header .navbar-toggle:focus {
    background-color: transparent;
}





/* ************************ Homepage  ************************ */
/* ******************************************************************** */
.entry-content .vc_col-has-fill>.vc_column-inner, .entry-content .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, 
.entry-content .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .entry-content .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
.entry-content .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, 
.entry-content .vc_row-has-fill>.vc_column_container>.vc_column-inner, 
.entry-content .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
.entry-content .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    padding-top: 0;
}

.wpb_single_image.wpb_content_element  {
    margin-bottom: 0;
}


/* ************************ Donate Area Start  ************************ */
/* ******************************************************************** */

.donation-button,
.donate-buttons {
    text-align: center;
}

.donate-buttons input {
    border: 2px solid #e6e6e1;
    border-radius: 3px;
    color: #5c5c5c;
    display: inline-block;
    font-size: 18px;
    margin-right: 28px;
    padding: 10px 20px;
    cursor: pointer;
    width: 10%;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    background: none;
    text-align: center;

}
.donate-buttons input:hover,
.donate-buttons input.active{
    border-color: #06396a;
    color: #06396a;
}
.donate-buttons input:last-of-type{
    margin-right: 0;
}
.button-with-icon {
    font-size: 0;
    font-weight: 700;
}
.filled-button{
    background: #06396a none repeat scroll 0 0;
    clear: both;
    color: #fff;
    display: table;
    font-size: 18px;
    margin: 60px auto 0;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
}
.filled-button.user {
    margin-right: 30px;
}
.button-with-icon .filled-button.facebook {
    background: #3b5998;
    margin-right: 30px;
}
.button-with-icon .filled-button.twitter {
    background: #00aeef;
}
.filled-button:hover,.filled-button:focus{
    color: #fff;
}
.button-with-icon .filled-button i {
    font-size: 34px;
    float: left;
    margin-right: 10px;
}

.rplatform-callto-signup .filled-button {
    margin: 40px auto 0;
}

/* ************************ Donate Area End  ************************ */
/* ****************************************************************** */


/* ************************ Mission Area Start  ************************ */
/* ********************************************************************* */
span.heading {
    font-weight: 700;
    color: #010101;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 9px;  
}

.mission-content p {
    color: #666666;
    font-size: 28px;
    line-height: 36px;
}
.mission-content .section-title {
    margin-bottom: 35px;
    margin-top: 0;
    font-size: 48px;
    text-transform: uppercase;    
}
.singnature a {
    color: #06396a;
    font-size: 24px;
}
.singnature a i {
    display: inline-block;
    font-size: 22px;
    padding-left: 10px;
}
.singnature {
    padding-top: 24px;
}
.singnature img {
    display: table;
    margin: 27px 0 0;
}
.change-person {
    bottom: -1px;
    left: auto;
    position: absolute;
    right: 0px;
    top: auto;
}
/* ************************ Mission Area End  ************************ */
/* ******************************************************************* */





/* *********************************************************************** */
/* ************************ slider 1   ******************** */
/* *********************************************************************** */

.slider-overlay{
    background: rgba(6, 57, 106, 0.8) none repeat scroll 0 0;
    height: 200%;
    left: 96px;
    position: absolute;
    top: -40%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    width: 446px;
}
.slider-content{
    position: relative;
    z-index: 9;
}
.slider-content h2 {
    color: #fff;
    font-size: 69px;
    font-weight: 400;
    margin-bottom: 6px;
}
.slider-content h3 {
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.99;
}
.bordered-button {
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 12px 25px;
    margin-top: 29px;
    border-radius: 2px;
    position: relative;
    background: transparent;
    z-index: 1;
    display: inline-block;
}
.bordered-button i{
    display: inline-block;
    padding-left: 20px;
}

.bordered-button:before{
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    width: 101%;
    z-index: -1;
}
.bordered-button:hover,
.bordered-button:focus{
    color: #000;
}
.bordered-button:hover:before,
.bordered-button:focus:before{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.home-one-crousel .item{
    padding: 120px 0 147px;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;    
}
.home-one-crousel .carousel-control.left{
    left: 20px;
}
.home-one-crousel .carousel-control.right{
    right: 20px;
}
.home-one-crousel .carousel-control {
    background-color: transparent;
    color: #fff;
    font-size: 100px;
    height: 60px;
    line-height: 0.5;
    margin: auto;
    opacity: 1;
    padding-top: 0;
    position: absolute;
    text-shadow: none;
    width: 45px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    background-image: none;
    z-index: 9;
}
.home-one-crousel .carousel-control i{
    line-height: .6;
}
.home-one-crousel .carousel-control:hover{
    background: transparent;
    -webkit-transform: scaleY(.8);
    transform: scaleY(.8);
}
.home-one-crousel .item .up-animation{
    opacity: 0;
}
.home-one-crousel .item.active .first-animation{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    opacity: 1;
}
.bounceInDown1 {
    -webkit-animation-name: bounceInDown1;
    animation-name: bounceInDown1;
}
.home-one-crousel .item.active .second-animation{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 1;
}
.home-one-crousel .item.active .third-animation{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    opacity: 1;
}
.home-one-crousel .item.active .fourth-animation{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    opacity: 1;
}

.home-one-crousel .item .first-animation,
.home-one-crousel .item .second-animation,
.home-one-crousel .item .third-animation,
.home-one-crousel .item .fourth-animation{
    opacity: 0;
    transition: opacity 0s ease 0.5s;
}


/* ************************ Home 2 Slider Start  ************************ */
/* ********************************************************************* */
.home-two-crousel{
    position: relative;
    display: table;
    clear: both;
    width: 100%;
}
.home-two-crousel .carousel-inner{
    backface-visibility: hidden;
}
.home-two-crousel .item{
    padding: 154px 0 145px;
    overflow: hidden;
    backface-visibility: hidden;
}
.slide-icon {
    margin-bottom: 31px;
}
.home-two-crousel .slider-content .bordered-button{
    margin-top: 39px;
}

/* Animation delays */
.slide-icon{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.slider-content h2 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -webkit-transition-duration: 1.4s;
    transition-duration: 1.4s;
}
.slider-content h3 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    -webkit-transition-duration: 1.8s;
    transition-duration: 1.8s;
}
.slider-content a{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.home-two-crousel .slider-content a{
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
}
/*Fade*/
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.home-two-crousel .carousel-control {
    background-image: none;
}
.home-two-crousel .carousel-control.left{
    left: 50px;
}
.home-two-crousel .carousel-control.right{
    right: 50px;
}
.home-two-crousel .carousel-control {
    background-color: transparent;
    color: #fff;
    font-size: 100px;
    height: 60px;
    line-height: 0.5;
    margin: auto;
    opacity: 1;
    padding-top: 0;
    position: absolute;
    text-shadow: none;
    width: 45px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.home-two-crousel .carousel-control i{
    line-height: .6;
}
.home-two-crousel .carousel-control:hover{
    background: transparent;
    -webkit-transform: scaleY(.8);
    transform: scaleY(.8);
}
/* ************************ Home 2 Slider End  ************************ */
/* ******************************************************************** */


/*=========================================
*=======   Widget Settings    ============
*=======================================*/

.widget-blog-posts .media-left, 
.widget-blog-posts .media>.pull-left {
    padding-right: 15px; 
}

.widget-blog-posts .entry-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.widget-blog-posts .entry-title  a {
    color: #000;
}

.widget-blog-posts img {
    margin-bottom: 20px;
}

.widget-blog-posts .entry-date {
    font-size: 14px;
}

.widget-popular-news ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget.widget_rplatform_popular_posts_widget {
    padding: 0;
    margin: 0;
}

.widget{
    word-break: break-word;
}

.widget img{
    max-width: 100%;
    height: auto;
}

.widget_recent_comments a{
    word-break: break-word;
}

.search-no-results #searchform {
    position: relative;
}

.search-no-results #searchform .btn-search {
    position: absolute;
    right: 0;
    padding: 14px 20px;
    top:0;
}

.widget select{
    width: 100%;
    margin: 0;
}

.form-control{
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #f2f2f2;
}

#sidebar .widget{
    margin-bottom: 50px;
    padding: 0;

}

.widget-area .widget:last-child{
    margin-bottom: 0px;
}


#sidebar h3.widget_title {
    color: #06396a;
    font-size: 30px;
    margin-bottom: 33px;
}

#sidebar .rplatform-title .icon-bar {
    background: #000;
}

.widget.widget_archive label {
    font-weight: 400;
}

aside.widget-area .rplatform-title{
    margin-bottom: 30px;
}

.widget-popular-news a {
    color: #555;
}

.widget-popular-news a:hover {
    color:#000;
}

.widget-popular-news .media>.pull-left {
    padding-right: 15px;
}

.widget_title{
    margin-top: 0;
    margin-bottom: 0;
}

.widget .tagcloud{
    display: block;
}

.widget .tagcloud a {
    background: #E6E6E6 none repeat scroll 0 0;
    border-radius: 2px;
    color: #000;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 8px;
    font-size: 14px !important;
    transition: 300ms;
    -webkit-transition: 300ms;
}

.widget .tagcloud a:hover {
    border:none;
    color: #fff;
}

.widget >ul{
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    list-style: none;
}

.widget ul.children{
    list-style: none;
    padding-left: 10px;
}


.widget ul > li:last-child{
    border-bottom:none; 
}

.widget.widget_categories ul li{
    text-transform: capitalize;
}

.widget_nav_menu ul{
    padding: 0px;
}
.widget_nav_menu ul li{
    list-style:none;
}

.widget_nav_menu ul.menu .sub-menu li:first-child {
    border-bottom: none;
}


.widget ul li {
    padding: 4px 0;
}
.widget ul li a{
    color: #000;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    transition: 300ms;
    -webkit-transition: 300ms;
}

.widget ul  li:first-child a {
    padding-top: 0;
}

.widget ul  li:last-child a {
    padding-bottom: 0;
}

.widget.widget_recent_comments ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    word-break: break-word;
}

.widget.widget_rss ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-word;
}

.widget.widget_recent_comments ul li a{
    padding: 0;
    border-left: 0 none;
}

.widget.widget_nav_menu ul.sub-menu{
    padding-left: 20px;
}

#sidebar  .widget.widget_nav_menu ul.sub-menu li:last-child {
    border-bottom: none;
}

.widget_text .textwidget{
    padding: 0;
}



.widget.widget_rss ul li a{
    border: 0 none;
    padding: 0;
}
.widget.widget_rss a.rsswidget{
    padding-left: 0;
}
.widget.widget_rss a.rsswidget:before{
    display: none;
}
.widget.widget_rss a:hover,
a.rsswidget:hover,
.widget.widget_recent_comments a:hover{
    border-left: 0px;
    text-decoration: underline;
}

.widget.widget_search #searchform{
    position: relative;
    border: 1px solid #eee;
}

.widget.widget_search #searchform input {
    height: 50px;
    border: none;
    box-shadow: none;
    font-weight: 300;
    padding: 0 20px;
    margin: 0;
    background: none;
}

.widget.widget_search #searchform .btn-search {
    height: 50px;
    line-height: 50px;
}

.widget.widget_search #searchform i {
    position: absolute;
    right: 15px;
    top: 0px;
}

.widget.widget_search #searchform .btn-search i {
    font-size: 16px;
    line-height: 50px;
}

.widget.widget_search .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    background: #f2f2f2;
}

/*=========================================
 *==========     Io Test       ============
 *=======================================*/

.entry-summary img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

img.alignnone {
    max-width: 100%;
    height: auto;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    clear: both;
}

.alignright {
    float:right;
    margin: 10px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 10px auto 15px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
    clear: both;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 10px 5px 0;
}

.default-page article{

}

.default-page .entry-title{
    margin-bottom: 20px;
}

table {
    border-bottom: 1px solid #f1f1f1;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 1;
    margin: 0 0 20px;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

caption {
    font-size: 16px;
    margin: 20px 0;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td,
.table>tbody>tr>td{
    border-top: 1px solid #efefef;
    padding: 8px 10px 8px 0;
}

dl {
    margin: 0 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px;
}

blockquote p{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
}

blockquote{
}

.entry-content a{

}

.entry-content pre{
    font-size: 12px;
    padding: 20px;
}

.gallery-format {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

/***********  Blog Style  ************
**************************************/

.home.page .site-content,
.home.blog .site-content,
.home.blog #sidebar,
.home.page #sidebar {
    margin-top: 40px;
}

article.post.hentry {
    margin-bottom: 50px;
}
.entry-content-list-blog {
    position: relative;
}
.entry-content-list-blog .entry-header {
    position: absolute;
    left: 0;
    margin-bottom: 0;
    margin-left: 0;
    bottom: 0;
    padding: 40px;
    z-index: 2;
}

.format-video .entry-content-list-blog .entry-header {
    bottom: 40px;
}

.featured-wrap {
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.featured-wrap .news-date{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.featured-wrap .news-date:before{
    background: rgba(237, 28, 36, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100px;
    left: -80px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 260px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.featured-wrap .news-date time{
    color: #fff;
    font-size: 18px;
    margin: 35px 0 0 20px;
    position: relative;
    width: 100px;
    display: inline-block;
    font-weight: 700;
}

.entry-title.blog-entry-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;  
}

.entry-title.blog-entry-title a {
    color: #000;
    -webkit-transition: color 400ms ease;
    -moz-transition: color 400ms ease;
    -ms-transition: color 400ms ease;
    -o-transition: color 400ms ease;
    transition: color 400ms ease;  
}

/* gallery post */
.blog-gallery-slider .carousel-left, 
.blog-gallery-slider .carousel-right {
    position: absolute;
    top: 50%;
    font-size: 26px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 3;
    border-radius: 2px;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.carousel-left {
    left: 30px;
}

.carousel-right {
    right: 30px;
}

.carousel-left:hover, 
.carousel-right:hover {
    color: #fff;
}

/* link post & Quote */
.entry-link-post-format,
.entry-quote-post-format {
    padding: 100px;
}

.entry-quote-post-format blockquote {
    margin: 0;
    position: relative;
    padding: 0;
    border-left: 0;
    z-index: 3;  
}

.entry-quote-post-format blockquote p {
    color: #fff;
    font-size: 22px;
}

.entry-quote-post-format blockquote small {
    color:#fff;
    font-weight: 700;
}

.entry-link-post-format h4 {
    margin: 0;
    position: relative;
    z-index: 3;
    font-size: 32px;
    color: #fff;
    word-break: break-all;
}
.entry-link-post-format,
.entry-quote-post-format {
    background: #06396A;
}

/* audio post */
.entry-audio,
.entry-video  {
    z-index: 2;
}

.format-audio .featured-wrap .news-date {
    right: 0;
    left: auto;
}

.format-audio .featured-wrap .news-date:before {
    left: auto;
    right: -80px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);  
}

.format-audio .featured-wrap .news-date time {
    margin: 15px 0 0 20px;
}

/* post single */
.single.single-post .entry-content-list .container {
    position: relative;
}
.single.single-post .entry-content-list .entry-header {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 0 15px;
}

.single-page-social {
    font-size: 0;
    font-weight: 400;
}
.single-social-info{
    background: #06396a none repeat scroll 0 0;
    clear: both;
    color: #fff;
    display: table;
    font-size: 18px;
    margin: 52px auto 0;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
}
.single-social-info.user {
    margin-right: 30px;
}
.single-social-info.user a{
    color: #fff;
}
.single-page-social .single-social-info.facebook {
    background: #3b5998;
    margin-right: 30px;
}
.single-page-social .single-social-info.twitter {
    background: #00aeef;
}
.single-social-info:hover,
.single-social-info:focus{
    color: #fff;
}
.single-page-social .single-social-info i {
    font-size: 28px;
    float: left;
    margin-right: 10px;
}

/* related post */
.related-posts .common-title {
    font-size: 30px;
    text-transform: none;
    margin-bottom: 41px;
}
.thumbnail-news .news-date time {
    font-size: 14px;
    margin: 4px 0 0 4px;
    width: 50px;
    display: inline-block;
    color: #fff;
    position: relative;
    line-height: 18px;
}
.single-related-posts .thumbnail-news {
    padding-left: 0;
    margin-bottom: 20px;
}
.small-news p {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
/*=======   Blog Comment   ========*/

#comments {
    background: #FFF;
    padding: 60px 0;
}

#commentform .logged-in-as {
    margin: 0 15px 10px;
}

#comments .comments-title,
#respond .comment-reply-title{
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 18px;
}

#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"]
{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #f2f2f2;
    background: #fff;
    margin-bottom: 30px;
    padding: 0 15px;
}

#respond textarea{
    display: block;
    width: 100%;
    height: 210px;
    border: 1px solid #f2f2f2;
    margin-bottom: 30px;
    resize:none;
    padding: 10px 15px;
    background: #fff;
}

.col6 {
    width: 50%;
    box-sizing: border-box;
    float: left;

}

.logged-in .col6 {
    width: 100%;
}

#respond input:focus,
#respond textarea:focus{
    outline-offset:0;
    outline: 0;
}

#respond ::-webkit-input-placeholder{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

#respond .form-submit {
    text-align: right;
    margin-right: 15px;
}

.comment-respond .comment-form {
    margin: 0 -15px;
}

.comment-respond .comment-form .col6 {
    padding: 0 15px;
}


.comment-list{
    padding: 0;
    list-style: none;
}

.comment-list .comment-body{
    margin-bottom:30px;
}

.comment-list .comment-avartar {
    position: relative;
}


.comment-list .comment-body .comment-avartar{
    margin-right: 30px;
}

.comment-list .comment-body .comment-author{
    text-transform: uppercase;
    display: block;
}

.comment-list .comment-body .comment-author a {
    color:#222;
    font-size: 18px;
    line-height: 20px;
}

.comment-list .comment-body .comment-date{
    color:#898989;
    font-size: 11px;
}

.comment-list .comment-body .comment-time{
    margin: 0 10px 0 0px;
}

.comment-list .comment-body .edit-link{
    margin-right: 5px;
}

.comment-list .comment-body .comment-reply,
.comment-list .comment-body .edit-link{
    text-transform: lowercase;
    font-weight: 300;
    display: none;
    transition: display .5s linear;
    -webkit-transition: display .5s linear;
}


.comment-list .comment-body:hover .comment-reply,
.comment-list .comment-body:hover .edit-link{
    display: inline-block;
}

.comment-body .comment-content p{
    font-size: 13px;
    letter-spacing: .3px;
    line-height: 20px;
    margin-top: 0px;
}

.comment-list .children{
    padding-left: 40px;
    list-style: none;
}

#comments .form-submit #submit{
    -moz-user-select: none;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 12px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;

}

/*=========================================
 *=======     Pagination       ============
*=======================================*/
.rplatform-pagination {
    text-align: center;
    margin: 30px 0 80px;  
}

.rplatform-pagination .page-numbers {
    padding: 0;
    margin: 0;
    list-style: none;
   font-size:18px;
}
.rplatform-pagination .page-numbers li {
    display: inline-block;
    margin: 0 17px;
}
.rplatform-pagination .page-numbers li a {
    color: #000;
    font-size: 18px;
}


/*=========================================
*=======     Contact Us       ============
*=======================================*/
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    width: 100%;
    margin-bottom: 20px;
}
.wpcf7-form-control-wrap textarea {
    height: 120px;
}
.wpcf7-submit {
    color: #fff;
}


/*=========================================
*=======     Bottom       ============
*=======================================*/

.footer-wrap {
    margin-top: 80px;
}

.bottom {
    color: #ffffff;
    padding: 100px 0px 80px;
}

.footer-wrap .footer .row {
    border-top: solid 1px #4d4752;
    padding: 35px 0;
}

.menu-footer-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.menu-footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu-footer-menu li a {
    font-size: 14px;
    color: #999;
    line-height: inherit;
}

.footer .text-right {
    color: #999;
    font-size: 14px;
}

.bottom-widget .widget .widget_title {
    font-size: 20px;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 40px;
    position: relative;
    color: #fff;
}

.bottom-widget .widget .widget_title:before {
    position: absolute;
    font-family: 'moview';
    left: -50px;
    font-size: 30px;
    top: -5px;
}

/* newsletter */
.bottom-widget .widget.widget_mc4wp_form_widget .widget_title:before {
    content: "\e911";

}
.mc4wp-moview {
    position: relative;
    margin-top: 30px;  
}
.mc4wp-moview input[type=email] {
    background-color: rgba(69,66,72,0.5);
    border-radius: 0;
    width: 100%;
    height: 50px;
    color: #c2c2c2;
    padding-left: 25px;
    border: solid 5px rgba(46,42,48,0.9);
}
.mc4wp-moview input[type=submit] {
    text-indent: -9999px;
    background-color: transparent;
    box-shadow: none;
    border:none;
}
.mc4wp-moview .mc4wp-btn-moview {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0; 
}
.mc4wp-moview .mc4wp-btn-moview:before {
    content: "\e908";
    font-family: 'moview';
    color: #fff;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    pointer-events: none;
}

/* Category */

.bottom-widget {
    padding-top: 20px;
    padding-bottom: 20px;
}
.bottom-widget .widget ul li a {
    color: #a6a6a6;
    font-size: 14px;
    line-height: inherit;
    transition: 300ms;
    -webkit-transition: 300ms;
}
.bottom-widget .widget ul li a:hover {
    color: #fff;
}
.bottom-widget .widget.widget_nav_menu ul li,
.bottom-widget .widget.widget_categories ul li {
    width: 49%;
    display: inline-block;
}
.bottom .widget{
    margin-bottom: 0;
}
/* Menu Widget */


/* Bottom Ads */
.bottom-widget .widget.widget_rplatform_double_ads_widget .widget_title {
    margin-left: 65px;
}
.bottom-widget .widget.widget_rplatform_double_ads_widget .widget_title:before {
    content: "\e90e";
    left: -65px;
}
.widget.widget_rplatform_double_ads_widget .double-ads li {
    width: 49%;
    display: inline-block;
}
.widget.widget_rplatform_double_ads_widget .double-ads li a {
    padding: 0;
    margin: 0 0 20px;
}


/* key framework */
@-webkit-keyframes spMenuFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,30px,0);
        transform: translate3d(0,30px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes spMenuFadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,30px,0);
        -webkit-transform: translate3d(0,30px,0);
    }
    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}



/* *********************************************************************** */
/* ************************ Footer 1 Area Start   ************************ */
/* *********************************************************************** */
.footer-area {
    padding: 25px 0;
}
.copy-right{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}
.footer-menu{
    padding-left: 5px;
    margin-bottom: 0;
}
.footer-menu li{
    display: inline-block;
}
.footer-menu li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-right: 39px;
}
.footer-menu li:last-child a{
    margin-right: 0;
}
footer .container{
    border-top: 1px solid #000;
    padding-top: 40px;
}
/* *********************************************************************** */
/* ************************ Footer 1 Area Close   ************************ */
/* *********************************************************************** */



/* *********************************************************************** */
/* ************************ Footer 2 Area Start   ************************ */
/* *********************************************************************** */
.footer-two-area {
    background: #313539 none repeat scroll 0 0;
    padding: 60px 0;
}
.footer-two-area .social-icon ul{
    margin: 25px 0px 20px;
    padding: 0;
}
.footer-two-area .social-icon li a {
    margin-right: 8px;
}
.footer-two-area .social-icon li{
    display: inline-block;
}
.footer-two-area .social-icon li a{
    color: #fff;
    font-size: 20px;
}
.footer-two-area .social-icon li a:hover i.fa-facebook{
    color: #3b5998;
}
.footer-two-area .social-icon li a:hover i.fa-twitter{
    color: #55acee;
}
.footer-two-area .social-icon li a:hover i.fa-google-plus{
    color: #dd4b39;
}
.footer-two-area .social-icon li a:hover i.fa-pinterest{
    color: #BD081C;
}
.footer-two-area .social-icon li a:hover i.fa-youtube{
    color: #DA2723;
}
.footer-two-area .social-icon li a:hover i.fa-linkedin{
    color: #0274B3;
}
.footer-two-area .social-icon li a:hover i.fa-dribbble{
    color: #C32361;
}
.footer-two-area .social-icon li a:hover i.fa-behance{
    color: #000000;
}
.footer-two-area .social-icon li a:hover i.fa-flickr{
    color: #0063DB;
}
.footer-two-area .social-icon li a:hover i.fa-vk{
    color: #587EA5;
}
.footer-two-area .social-icon li a:hover i.fa-skype{
    color: #00AAF1;
}
.footer-two-area .social-icon li a:hover i.fa-envelope{
    color: #E75A4D;
}
/* *********************************************************************** */
/* ************************ Footer 2 Area Close   ************************ */
/* *********************************************************************** */

/* *********************************************************************** */
/* ************************ Biography Area Start   *********************** */
/* *********************************************************************** */

.interact-people img{
    padding: 15px;
}

/* *********************************************************************** */
/* ************************ Biography Area End  888s*********************** */
/* *********************************************************************** */



/* *********************************************************************** */
/* ************************ The Events Calender *********************** */
/* *********************************************************************** */

#tribe-events {
    margin-bottom: 100px;
}

.events-list .tribe-events-loop, 
.single-tribe_organizer .tribe-events-loop, 
.single-tribe_venue .tribe-events-loop, 
.tribe-events-day .tribe-events-loop {
    max-width: 100%;
}
.tribe-events-list .tribe-events-event-image {
    width: 50%;
}
.tribe-events-list .tribe-events-event-image+div.tribe-events-content {
    width: 47%;
}
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events {
    margin-left: 0;
}
.tribe-events-list-separator-month:after {
    display: none;
}
.tribe-events-list-separator-month {
    margin: 2em auto .5em;
}
.tribe-events-list-separator-month span {
    padding: 0;
    font-size: 36px; 
    text-transform: uppercase;
}
.tribe-events-list .type-tribe_events h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
}
.tribe-events-list .type-tribe_events h2 a {
    color: #000;
}
.tribe-event-schedule-details {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    position: relative;
}
.tribe-event-schedule-details:before {
    content: "\f073";
    font: normal normal normal 14px/1 FontAwesome; 
    left: 0;
}
.tribe-event-schedule-details .tribe-event-date-start {
    margin-left: 8px;
}
.tribe-events-event-meta address.tribe-events-address, 
.tribe-events-list .tribe-events-venue-details {
    font-weight: 300;
    margin-top: 8px;
    color: #333;
}
.tribe-events-event-meta address.tribe-events-address, 
.tribe-events-list .tribe-events-venue-details {
    font-style: normal;
}
.tribe-events-venue-details {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    position: relative;
}
.tribe-events-venue-details >span {
    margin-right: 8px;
}
.tribe-events-list .tribe-events-venue-details {
    position: relative;
    padding-left: 25px;
    line-height: 24px;
}
.tribe-events-venue-details:before {
    content: "\f277";
    font: normal normal normal 14px/1 FontAwesome; 
    left: 0;
    position: absolute;
    top: 7px;
}
.event-link a i {
    display: inline-block;
    padding-left: 16px;
    position: relative;
    top: 1px;
}
.event-link a {
    font-size: 18px;
}
.events-list #tribe-events-footer, .single-tribe_events #tribe-events-footer, 
.tribe-events-day #tribe-events-footer, .tribe-events-map #tribe-events-footer, 
.tribe-events-photo #tribe-events-footer {
    border-top: none;
    padding-top: 0;
}
#tribe-bar-form label {
    display: none;
}
#tribe-bar-form input[type=text] {
    padding: 0;
    min-height: 40px;
}
.tribe-events-schedule h2 {
    font-size: 16px;
    color: #434E4E;
    margin-top: 0;
    font-weight: 400;
}

#tribe-bar-form {
    background: none;
}
#tribe-bar-form input[type=text] {
    border-bottom: none;
}
#tribe-bar-form #tribe-bar-views+.tribe-bar-filters {
    width: 100%;
    left: auto;
    right: auto;
}
.tribe-bar-date-filter,
.tribe-bar-submit {
    padding: 0;
}

.tribe-bar-date-filter {
    text-align: center;
    width: 10%;
}
.tribe-bar-search-filter {
    width: 75%;
    padding: 0 30px; 
}

#tribe-bar-form input[type=text] {
    background: #f0f0f0;
    border-radius: 4px;
    padding: 20px 25px;  
}

.tribe-bar-submit {
    width: 15%;
    margin-left: 0;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
    background: #06396a;
    border-radius: 4px;
    padding: 20px 25px;;  
}
.tribe-bar-views-select.tribe-no-param {
    display: none;
}

#tribe-bar-views-customize ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.tribe-bar-views-inner-customise {
    text-align: center;
    margin-top: 60px;
} 

.tribe-bar-views-inner-customise ul.tribe-bar-views-list li {
    display: inline-block;
    margin: 0 10px;
}

.tribe-bar-views-inner-customise ul.tribe-bar-views-list li a {
    color: #bbb;
}

.tribe-bar-views-inner-customise ul.tribe-bar-views-list li.tribe-bar-active a {
    color: #000;
}

.tribe-events-list-separator-month {
    display: none;
}
.tribe-events-calendar td div[id*=tribe-events-daynum-] {
    padding: 12px 15px 12px;
    text-align: center;
}
.tribe-events-calendar thead th {
    border-left: 1px solid #272727;
    border-right: 1px solid #272727;
    background-color: #000000;
    padding: 1.4em 0;    
}
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], 
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
    background-color: #E8E8E8;
    color: #000;
}
.tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a {
    color: #333;
}
.tribe-events-day .tribe-events-day-time-slot h5 {
    color: #000;
    padding: 10px 10px;  
}

/* *********************************************************************** */
/* ************************ Video Carousel Popup *********************** */
/* *********************************************************************** */

.champ-video {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.champ-video img{
    width: 100%;
}
.champ-video:after{
    content: "";
    background: rgba(237,28,36,.85);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    visibility: hidden;
    opacity: 0;
}
.champ-video a{
    color: #fff;
    font-size: 48px;
    left: 0;
    position: absolute;
    right: 0;
    top: 58px;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.champ-video:hover:after{
    visibility: visible;
    opacity: 1;
}
.champ-video:hover a{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    color: #fff;
}
.video-button .bordered-button{
    margin-top: 65px;
    padding: 16px 39px 17px;
}

#rplatform-video-carosuel .controller .owl-control span{
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    color: rgba(255,255,255,.3);
    display: inline-block;
    font-size: 30px;
    margin: 0;
    opacity: 1;
    padding: 0;
}
#rplatform-video-carosuel .controller .owl-control span:hover{
    color: rgba(255,255,255,1);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
#rplatform-video-carosuel .controller {
    margin-top: 0;
    text-align: center;
    position: relative;
}
#rplatform-video-carosuel .controller .owl-control.videoPrev {
    position: absolute;
    top: -90px;
    left: -80px;
    cursor: pointer;
}
#rplatform-video-carosuel .controller .owl-control.videoNext{
    position: absolute;
    top: -101px;
    right: -80px;
    cursor: pointer;
}

.mission-area {
    padding: 110px 0;
}
/*Loader Css*/
.loader-wrap{
    background: #06396a;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.loader {
    -webkit-animation: 1.1s linear 0s normal none infinite running load8;
    animation: 1.1s linear 0s normal none infinite running load8;
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) #ffffff;
    border-style: solid;
    border-width: 1.1em;
    font-size: 10px;
    margin: auto;
    position: absolute;
    text-indent: -9999em;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.tribe-event-schedule-details:before{
    color:orange!important;
}

.tribe-events-venue-details:before{
    color:blue!important;
}

.tribe-events-read-more{
    color:blue!important;
}

.btn-blue>button,
.btn-blue>a{
    background-color: #0066ff!important;
    color: #fff!important;
    font-size: 18px!important;
    line-height: 25px!important;
    padding: 10px 20px!important;
    text-transform: uppercase;
    border: 1px solid #0066ff!important;
    transition: 0.5s;

}
.btn-blue>a:hover {
    background-color: transparent!important;
    border: 1px solid #0066ff!important;
    color: #0066ff!important;
}
.btn-white>button {
    background-color: transparent!important;
    color: #fff!important;
    border: 1px solid #fff!important;
    font-weight: normal!important;

}
.btn-white>button:hover {
    background-color: #fff!important;
    color: #0066ff!important;
    border: 1px solid #fff!important;
}
.btn-own>button,
.btn-own>a{
    font-weight: 700;
    border-radius: 50px!important;
    background-image: none!important;
}