/*
* Custom Responsive Media Query
*/

@media screen and (min-width: 1550px) and (max-width: 2565px){
    .custom-timecounter.home2-count.clock{
        width: 555px !important;
    }
}
@media screen and (min-width: 1351px) and (max-width: 1440px){

    /* responsive nav */
    .common-menu-wrap .nav>li>a {
        margin: 0 10px;
        font-size: 14px;
    }

    .menu-left {
        margin: 25px 0 0 0;
    }
    .main-menu > ul > li > a {
        margin-right: 30px;
    }
    .menu-right {
        margin: 25px 0 0 25px;
    }
    .change-person {
        right: 0;
    }
    /*Slider Area*/
    .slider-overlay {
        left: 0;
        width: 420px;
    }
    /* Coming Soon Page */
    .coming-soon-area {
        padding: 90px 0 0;
    }
    .coming-soon-content #clock.clock-2 {
        margin: 40px auto 40px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1350px){

    /* responsive nav */
    .common-menu-wrap .nav>li>a {
        margin: 0 10px;
        font-size: 14px;
    }

    .menu-left {
        margin: 25px 0 0 35px;
    }
    .main-menu > ul > li > a {
        margin-right: 25px;
    }
    .menu-right {
        margin: 25px 0 0 25px;
    }
    .header-area {
        padding: 0 25px;
    }

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    /* responsive nav */
    .common-menu-wrap .nav>li>a {
        margin: 0 3px;
        font-size: 13px;
    }
    /*Menu Css*/
    .header-area {
        padding: 0 25px;
    }
    .social-icon li a {
        font-size: 14px;
        margin-right: 15px;
    }
    .main-menu > ul > li > a {
        font-size: 14px;
        margin-right: 17px;
    }
    .search-cart li a {
        font-size: 14px;
        margin-right: 15px;
    }
    .logo-area img {
        width: 100%;
    }
    .menu-left,.menu-right{
        margin-left: 18px;
    }
    .menu-has-children {
        padding-bottom: 0;
    }
    .menu-has-children::after {
        right: 20px;
        top: 2px;
    }
    #language {
        left: -10px;
        top: 40px;
    }
    .main-menu > ul > li > ul {
        top: 39px;
    }
    /*Latest news*/
    .thumbnail-news {
        margin-bottom: 30px;
        padding-left: 0;
    }
    .small-news {
        width: 76%;
    }
    .small-news h4 {
        margin-bottom: 15px;
    }
    .small-news p {
        color: #666666;
        font-size: 14px;
        line-height: 18px;
    }
    /*Mission area*/
    .mission-area {
        padding: 80px 0;
    }
    .change-person {
        bottom: auto;
        left: auto;
        position: absolute;
        right: 0;
        top: 20px;
        width: 586px;
    }
    .mission-content .section-title {
        font-size: 40px;
    }
    .mission-content p {
        font-size: 22px;
    }
    /*Upcoming Champaign*/
    .single-count{
        margin-right: 30px;
    }
    .counter-area .section-title {
        font-size: 40px;
    }
    .video-container {
        padding: 219px 0;
    }
    /*Shop Area*/
    #product-crousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 15px;
    }
    #product-crousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 15px;
    }
    .slider-overlay {
        left: 0;
        width: 280px;
    }
    /*Home 2*/
    .conference-img {
        width: 100%;
    }
    .conference-area.photo-home .conference-img {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .conference-area.photo-home .col-md-3{
        padding: 0;
    }
    .conference-img img {
        max-height: 163px;
        min-height: inherit;
    }
    #video-carosel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
        top: -85px;
    }
    #video-carosel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
        top: -85px;
    }
    .custom-timecounter.clock{
        width: 45% !important;
    }
    #resume-carousel.carousel .carousel-indicators li {
        width: 16.257%;
    }
    .champ-video a {
        top: 40px;
    }
    #rplatform-video-carosuel .controller .owl-control.videoNext,#rplatform-video-carosuel .controller .owl-control.videoPrev {
        top: -78px;
    }
    .footer-menu li a {
        margin-right: 35px;
    }
    .rplatform-title-donate .rplatform-title-call h2 {
        float: none;
        margin: 10px auto 15px;
        display: table;
    }
    .rplatform-title-call,.rplatform-join-campaign.text-right {
        text-align: center;
    }
    .champ-video a {
        top: 115px;
    }
    /*Home 3*/
    .main-menu-3 li a {
        font-size: 15px;
        margin-right: 25px;
    }
    .main-menu .menu-has-children::after{
        right: 3px;
    }
    .main-menu-3 .menu-has-children::after {
        right: 10px;
    }
    .main-menu-2 .menu-has-children::after {
        right: 13px;
    }
    .menu-has-children{
        padding-bottom: 25px;
    }
    .main-menu-3 .menu-has-children > ul{
        top: 40px;
    }
    /*Biography*/
    .event-img {
        margin-bottom: 0;
        margin-top: 30px;
    }
    .photo-home.photo {
        height: inherit;
    }
    /*Event Page*/
    .single-event .pull-left {
        padding-right: 30px;
    }
    .media-body .count-number{
        font-size: 30px;
    }
    .media-body .count-text{
        font-size: 13px;
    }
    .media-heading a {
        font-size: 30px;
    }
    /*Photo Page*/
    .photos-area {
        padding: 25px 0 80px;
    }
    /*Shop Page*/
    #mixer .product-details {
        margin-top: 30px;
        min-height: 328px;
    }
    .product-img .filled-button {
        top: 100px;
    }
    div.product-thumbnail-outer-inner .addtocart-btn {
        left: 0;
        margin: 0 auto;
        right: 0;
        text-align: center;
        top: 40%;
    }
    /*Shop Details*/
    .small-products {
        margin: 38px 0 25px;
    }
    .small-products img {
        margin-right: 20px;
        max-width: 160px;
    }
    .product-size-selctor p {
        font-size: 14px;
        padding: 12px 20px;
    }
    .product-color {
        margin: 40px 0 0 25px;
    }
    .related-product .section-title {
        margin-top: 50px;
    }
    .product-buttons-group ul li a {
        font-size: 14px;
        margin-right: 10px;
        opacity: 1;
        padding: 7px 15px;
    }
    .product-buttons-group ul li a span {
        padding-left: 8px;
    }
    .product-size-data li {
        font-size: 14px;
        padding: 10px 20px;
    }
    /*Sign Up*/
    .sign-up-form input {
        width: 46%;
    }
    .rplatform-title  h4.style-title{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px){
    /* responsive nav */
    .common-menu-wrap .nav>li>a {
        margin: 0 3px;
        font-size: 13px;
    }
    .footer-menu li a {
        margin-right: 30px;
    }
    .footer-area .col-md-offset-1{
        margin-left: 0;
    }
    .footer-area .col-md-9{
        float: right;
    }
    .counter-area.pull-left{
        padding: 70px 0 70px 50px;
    }
    .counter-area.pull-left .section-title {
        font-size: 40px;
    }
    .pull-left.single-count {
        margin-right: 30px;
    }
    .home-cart.woocart a.btn-cart::after {
        bottom: -7px;
    }
    .volunteer-img > img {
        width: 100%;
    }
    .volunteer-overlay i {
        padding-top: 70px;
    }
}

@media (max-width: 991px) {
    /* header */    
    .responsive-header {
        padding: 6px 10px;
        background: #eaeae0;
    }
    .header-menuwithsearch .main-menu-wrap {
        padding: 0;
    }
    .header-menuwithsearch .menu-social.common-menu {
        display: none;
    }
    .rp-navbar-brand {
        text-align: left;
    }

    .top-align {
        margin-left: 15px;
    }
    .common-menu {
        display: inline-block;
    }
    .header-menuwithsearch .menu-social.common-menu {
        text-align: left;       
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){


    /* responsive nav */
    .navbar-toggle.tablet-responsive {
        display: block;
    } 
    .navbar-collapse.collapse.tablet-responsive-collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.tablet-responsive-collapse.in {
        display: block !important;
    }
    .collapse.tablet-responsive-collapse .navbar-nav {
        float: none;
    }
    .collapse.tablet-responsive-collapse .navbar-nav>li {
        float: none;
    }

    /*Menu*/
    .header-menuwithsearch .container,
    .header-menuclassic .container {
        width: 100%;
    }  
    .menu-has-children::after {
        right: 20px;
    }
    .header-area {
        padding: 0 25px 25px;
    }
    .header-menulogocenterwithsc .main-menu-wrap {
        padding: 0;
        background: #fff;
    }
    .home-cart.woocart a.btn-cart::after {
        bottom: 6px;
    }
    .home-cart.woocart .woocommerce.widget_shopping_cart {
        top: 40px;
    }
    /**Mobile Menu**/
    #mobile-menu {
        top: 66px;
    }
    #language {
        left: -19px;
        top: 39px;
    }
    header#masthead.sticky {
        margin: 0 auto;
    }
    .slider-content h3 {
        font-size: 60px;
    }
    .slider-content {
        padding: 0 70px;
    }
    .rplatform-title  h4.style-title{
        font-size: 16px !important;
    }
    /*Donate*/
    .donate-buttons input {
        width: 15%;
    }
    /*Slider*/
    .slider-overlay {
        display: none;
    }
    /*Latest News*/
    .section-title {
        font-size: 35px;
    }
    .thumbnail-news {
        margin-bottom: 30px;
        padding-left: 0;
    }
    .small-news {
        width: 69%;
    }
    .small-news h4 {
        margin-bottom: 15px;
    }
    .small-news h4 a {
        color: #000;
        font-size: 16px;
    }
    .small-news p {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 0;
    }
    /*Mission*/
    .mission-content .section-title {
        font-size: 40px;
    }
    .change-person {
        display: none;
    }
    /*Shop Area*/
    .shop-area {
        padding: 100px 0 90px;
    }
    #product-crousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 15px;
    }
    #product-crousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 15px;
    }
    /*Volunteer Area*/
    .counter-area.pull-left {
        padding: 70px 0 50px 40px;
        width: 100%;
    }
    .counter-area.pull-left .section-title {
        font-size: 28px;
    }
    .pull-left.single-count {
        margin-right: 25px;
    }
    .single-count .count-number {
        font-size: 30px;
    }
    .single-count .count-text{
        font-size: 12px;
    }
    .volunteer-content .section-title {
        font-size: 45px;
    }
    .single-count{
        margin-right: 30px;
    }
    .video-container {
        padding: 216px 0;
    }
    /*Upcoming*/
    .counter-area {
        padding: 110px 0 111px 30px;
    }
    .single-count{
        margin-right: 30px;
    }
    .counter-area .section-title {
        font-size: 32px;
    }
    .rplatform-title.rplatform-callto-signup h2{
        font-size: 45px !important;
    }
    .rplatform-title.rplatform-callto-signup p{
        font-size: 15px !important;
    }

    /** Home 2 **/

    .section-title-2 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .rplatform-title-donate .rplatform-title-call h2 {
        float: none;
        margin: 10px 0 15px;
    }
    .rplatform-join-campaign.text-right{
        text-align: center;
    }
    .champ-video a {
        top: 80px;
    }
    #home-two-crousel .carousel-control.right {
        right: 20px;
    }
    #home-two-crousel .carousel-control.left {
        left: 20px;
    }
    #video-carosel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
        top: -130px;
    }
    #video-carosel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
        top: -130px;
    }
    #resume-carousel.carousel .carousel-indicators li {
        font-size: 12px;
    }
    .call-to-title {
        font-size: 24px;
    }
    .bordered-button.champ {
        font-size: 15px;
        margin-right: 10px;
        padding: 13px 15px 14px;
    }
    .bordered-button.donate {
        font-size: 15px;
        margin-top: 0;
        padding: 13px 15px 14px;
    }
    /*Funfacts*/
    .funfacts-area {
        padding: 125px 0 0;
    }
    .facts-content {
        margin-bottom: 85px;
    }
    .conference-img img {
        max-height: 250px;
        min-height: inherit;
    }
    .custom-timecounter.home2-count.clock{
        width: 360px !important;
    }
    /*Home 3*/
    .news-wrap {
        margin-bottom: 30px;
    }
    #clock.clock-2 {
        margin: 39px 0 29px;
    }
    /*Biography*/
    .event-img {
        margin-bottom: 0;
        margin-top: 30px;
    }
    .photo-home.photo {
        height: inherit;
    }
    /*News Page*/
    .paginations {
        padding: 51px 0;
    }
    .paginations li a {
        margin: 0 6px;
    }
    /**News Details**/
    .video-post iframe {
        min-height: 320px;
    }
    .post-contents .button-with-icon .filled-button {
        margin-top: 20px;
    }
    .related-post-left {
        width: 100%;
    }
    .related-post-right {
        width: 100%;
    }
    .find-event-form {
        width: 100%;
    }
    .find-event-form input {
        width: 100%;
    }
    /*Event Page*/
    .media-body, .single-event .pull-left, .media-right {
        display: block;
    }
    .single-event .pull-left {
        display: block;
        padding-right: 0;
    }
    /*Volunteer Page*/
    .volunteer-details {
        display: block;
        margin: 0 auto 37px;
        width: 100%;
    }
    .volunteer-img > img {
        width: 100%;
    }
    div.volunteer-overlay i {
        padding-top: 42px;
    }
    div.volunteer-details h4 {
        font-size: 13px;
        margin-bottom: 0;
    }
    div.volunteer-details a {
        font-size: 13px;
    }
    /*Shop Page*/
    #mixer .product-details {
        margin-top: 30px;
        min-height: 257px;
    }
    .product-img .filled-button {
        top: 85px;
    }
    .mixer-sort li {
        margin-right: 35px;
    }
    .product-details-img {
        text-align: center;
    }
    .related-product .section-title {
        margin-top: 50px;
    }
    div.product-thumbnail-outer-inner .addtocart-btn {
        left: 0;
        margin: 0 auto;
        right: 0;
        text-align: center;
        top: 40%;
    }
    /*Coming Soon*/
    .coming-soon-area {
        padding: 130px 0 0;
    }
    /*Sign Up*/
    .sign-up-form input {
        width: 47%;
    }
    /*Comming soon*/
    #comingsoon-countdown .countdown-section {
        width: inherit;
        padding: 0 10px;
    }
    .logo-top {
        margin: 0 auto 40px;
    }
    /*Tribe Events*/
    .tribe-bar-collapse #tribe-bar-collapse-toggle {
        margin-bottom: 15px;
        width: 100%;
    }
    #tribe-bar-form input[type="text"] {
        margin-bottom: 15px;
    }
    .tribe-bar-search-filter {
        padding: 0;
    }
    .tribe-events-list .tribe-events-event-image {
        width: 50%;
    }
    .tribe-events-list .tribe-events-event-image + div.tribe-events-content {
        float: left;
        width: 47%;
    }
    .tribe-events-list .type-tribe_events h2 {
        line-height: 0.8;
        margin-top: 0;
        font-size: 25px;
    }
    .tribe-events-list .tribe-events-event-image img {
        width: 100%;
    }
    .tribe-event-schedule-details {
        padding: 0 10px;
    }
    .tribe-events-sub-nav li a {
        background: transparent none repeat scroll 0 0;
        color: #ed1c24;
        margin-bottom: 0;
        padding: 10px 30px 0;
    }
    .tribe-events-sub-nav li a:hover{
        color: #ed1c24;
    }
}
@media (max-width: 489px) {
    .woocommerce .products.clearfix {
        margin-left: 0;
        margin-right: 0;
    }

    .woocommerce .products .product {
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    /** Menu**/
    .header-area {
        padding: 0 20px 25px;
    }
    .cuisine-navbar-brand .rp-logo.img-responsive{
        max-width: inherit;
    }
    .common-menu {
        padding-left: 0;
        display: block;
    }
    .menu-social.common-menu.text-right {
        display: none;
    }
    .header-area {
        padding: 0 20px 25px;
    }
    #mobile-menu {
        top: 66px;
    }
    .home-one-crousel .item {
        padding: 50px 0 80px;
    }
    .home-one-crousel .carousel-control {
        font-size: 60px;
    }
    .home-one-crousel .carousel-control.right {
        right: -10px;
    }
    .home-one-crousel .carousel-control.left {
        left: -10px;
    }
    .slider-content {
        padding: 0 15px;
    }
    .rplatform-title h2{
        font-size: 32px !important;
    }
    #language {
        left: -19px;
        top: 39px;
    }
    .responsive-header.hidden-lg.hidden-md {
        padding: 10px 0;
    }
    .menu-has-children {
        padding-bottom: 0;
    }
    .top-align {
        margin-left: 10px;
    }
    .home-cart.woocart .woocommerce.widget_shopping_cart {
        top: 43px;
        width: 290px;
        padding: 20px;
        right: -25px;
    }
    .header-menulogocenterwithsc .main-menu-wrap {
        padding: 0;
        background: #fff;
    }
    .home-cart.woocart a.btn-cart::after {
        bottom: 3px;
    }
    header#masthead.sticky {
        margin: 0 auto 0;
    }
    /*Slider Area*/
    .slider-overlay {
        display: none;
    }
    .item .slider-content h2 {
        font-size: 50px;
    }
    .slider-content h1 {
        font-size: 35px;
    }
    .slider-content h3 {
        font-size: 35px;
    }
    .bordered-button i{
        display: none;
    }
    /** Donate Now **/
    .donate-buttons input {
        font-size: 16px;
        margin-right: 15px;
        padding: 10px 5px;
        width: 28%;
        float: left;
        margin-bottom: 15px;
    }
    /*News Area*/
    .latest-news {
        padding: 0;
    }
    .news-wrap {
        margin-bottom: 30px;
    }
    .thumbnail-news {
        margin-bottom: 20px;
        padding-left: 0;
    }
    .small-news {
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
    }
    .change-person {
        display: none;
    }
    .news-wrap h3 a {
        font-size: 18px;
        line-height: 20px;
    }
    /*Mission Area*/
    .mission-area {
        padding: 80px 0;
    }
    /*Shop Area*/
    .shop-area {
        padding: 80px 0 15px;
    }
    #product-crousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 15px;
    }
    #product-crousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 15px;
    }
    .col-md-6 .video-container {
        padding: 125px 0;  
    }
    .col-md-6 .counter-area {
        padding: 70px 0 70px 15px;
    }
    .counter-area.pull-left .section-title {
        font-size: 35px;
    }
    .pull-left.single-count{
        float: none !important;
        margin: 0 10px 10px;
        display: inline-block;
    }
    .single-count .count-number{
        font-size: 30px;
    }
    .single-count .count-text {
        font-size: 12px;
    }
    .counter-area .filled-button {
        margin: 30px auto 0;
    }
    .volunteer-area {
        padding: 80px 0;
    }
    .volunteer-content .section-title {
        font-size: 35px;
    }
    /*Tweet Area*/
    .tweet-area {
        padding: 80px 0;
    }
    .tweet-content p {
        font-size: 20px;
    }
    /*Subscribe Area*/
    .subscribe-area {
        padding: 80px 0;
    }
    .subscribe-form input {
        width: 100%;
    }
    .mc4wp-form input[type="email"] {
        width: 100%;
    }
    /* footer */
    .footer-menu {
        text-align: center;
    }
    .footer-menu li a {
        font-size: 10px;
        margin-right: 7px;
        padding: 5px 0;
    }
    /*Home 2*/
    .header-top{
        display: none;
    }
    .home-two-crousel .carousel-control.right {
        right: 0;
    }
    .home-two-crousel .carousel-control.left {
        left: 0;
    }
    .home-two-crousel .carousel-control {
        font-size: 50px;
        height: 30px;
    }
    .home-two-crousel .slider-content{
        padding:0;
    }
    .home-two-crousel .item {
        padding: 80px 0 80px;
    }
    .slider-area-2 .item {
        padding: 80px 0;
    }
    .rplatform-title-call h2{
        font-size: 30px !important;
        margin-bottom: 25px !important;
        text-align: center !important;
        float: none !important;
    }
    .rplatform-join-campaign .campaign-button{
        margin-bottom: 30px;
    }
    .news-feed-wrap a {
        font-size: 22px;
    }
    .news-feed .rp-news-feed-pro {
        margin-left: 0;
    }
    .call-to-title {
        font-size: 28px;
        line-height: 1;
        margin-bottom: 25px;
        text-align: center;
    }
    .call-to-button.text-right{
        text-align: center;
    }
    .bordered-button.champ {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .president-area {
        padding: 80px 0;
    }
    .mission-content p {
        font-size: 20px;
        line-height: 30px;
    }
    .champaign-area-2 {
        padding: 80px 0;
    }
    #video-carosel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
    }
    #video-carosel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }
    .issues-area {
        padding: 80px 0;
    }
    .issues-area .section-title-2 {
        margin-bottom: 50px;
    }
    .section-title-2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .single-news h3 a {
        font-size: 25px;
    }
    #resume-carousel.carousel .carousel-indicators li {
        float: none;
    }
    .rplatform-title  h4{
        font-size: 40px !important;
    }
    .rplatform-title  h4.style-title{
        font-size: 16px !important;
    }
    .carousel-indicators span {
        display: none;
    }
    #resume-carousel .carousel-indicators li{
        padding-top: 1px;
    }
    .clock-2 .count-number{
        font-size: 25px;
    }
    .clock-2 .count-text{
        font-size: 12px;
    }
    .make-difference {
        padding: 80px 0;
    }
    .counter-area .custom-timecounter{
        width: auto !important;
        padding-bottom: 0 !important;
    }
    .conference-area .col-sm-6.col-md-3{
        padding: 0;
    }
    .conference-area.photo-home .conference-img {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    /*Tweet Area*/
    .tweet-area-2 {
        padding: 80px 0;
    }
    /*Funfacts*/
    .funfacts-area {
        padding: 115px 0 0;
    }
    .facts-content {
        margin-bottom: 85px;
    }
    .conference-img {
        width: 100%;
    }
    .single-count .count-number {
        font-size: 30px !important;
    }
    .rplatform-join-campaign.text-right {
        text-align: center;
    }
    .bread-content h2 {
        font-size: 40px;
    }
    /*Home 3*/
    .slider-content-home3 h2 {
        font-size: 33px;
        line-height: 36px;
    }
    .believe-area {
        padding: 80px 0;
    }
    .believe-cont .section-title-2 {
        margin-bottom: 50px;
    }
    .footer-top .social-icon li a {
        margin-right: 20px;
    }
    div.slider-form p,div.slider-form p:nth-child(3),div.slider-form p:nth-child(2){
        width: 100%;
    }
    div.slider-form p:nth-child(3) input{
        margin-left: 0;
    }
    /*Biography Page*/
    .banner-area {
        padding: 170px 0;
    }
    .about-area {
        padding: 80px 0;
    }
    .about-video {
        min-height: 380px;
    }
    .event-area {
        padding: 50px 0 53px;
    }
    .event-img {
        margin-bottom: 0;
        margin-top: 30px;
    }
    .event-content {
        padding-left: 0;
    }
    .timeline-area {
        padding: 80px 0;
    }
    .timeline-description::before,
    .timeline-description::after{
        display: none;
    }
    div.timeline-description {
        padding-right: 10px;
    }
    .timeline-right-content div.timeline-description {
        padding-left: 10px;
    }
    div.timeline-description h6 {
        font-size: 16px;
    }
    div.timeline-description p {
        font-size: 14px;
        line-height: 1.3;
    }
    div.timeline-date p {
        font-size: 16px;
    }
    .people-interaction {
        padding: 80px 0;
    }
    .interaction-content {
        padding: 0;
    }
    .interaction-content p {
        padding: 0;
    }
    .button-with-icon .filled-button.facebook {
        margin-right: auto;
        margin-top: 10px;
    }
    .button-with-icon .filled-button.twitter {
        margin-left: 0;
        margin-top: 40px;
    }
    .interact-people {
        display: table;
        margin: 0 auto 30px;
    }
    .video-container.pull-left {
        padding: 135px 0;
    }
    .conference-img .photo.photo-home{
        height: inherit;
    }
    /*News page*/
    .news-area {
        padding: 80px 0;
    }
    .news-post h3 a {
        font-size: 26px;
    }
    .paginations {
        padding: 51px 0;
    }
    .paginations li a {
        font-size: 16px;
        margin: 0 0 15px;
        padding: 0 4px;
    }
    aside.widget:last-of-type{
        margin-bottom: 0;
    }
    /*News Details*/
    .post-details blockquote {
        font-size: 25px;
        line-height: 1;
    }
    .video-post iframe {
        min-height: 250px;
    }
    .post-contents .button-with-icon .filled-button {
        margin-right: 0;
        margin-top: 15px;
    }
    .button-with-icon .filled-button.facebook {
        margin-top: 30px;
    }
    .button-with-icon .filled-button.twitter {
        margin-left: 0;
        margin-top: 30px;
    }
    .related-post-left {
        width: 100%;
    }
    .related-post .small-news {
        margin-top: 0;
        width: 62%;
    }
    .small-news h4 a {
        color: #000;
        font-size: 15px;
        line-height: 1;
    }
    .related-post-right {
        width: 100%;
    }
    .related-post .related-post-right .small-news {
        width: 62%;
    }
    /*Event Page*/
    .media-body, .single-event .pull-left, .media-right {
        display: block;
    }
    .find-event-form {
        width: 100%;
    }
    .single-event .pull-left {
        padding-right: 0;
    }
    .find-event-form input {
        width: 100%;
    }
    .media-body {
        width: 100%;
    }
    .media-body .count-text {
        font-size: 12px;
    }
    .event-listing-area {
        padding: 80px 0 20px;
    }
    .find-event-area {
        padding: 80px 0;
    }
    .single-event  .pull-left.single-count {
        padding-right: 0;
        margin-right: 0;
        display: inline-block;
        float: none !important;
    }
    .media-body .clock {
        margin: 35px auto 0;
    }
    /*Photo Page*/
    .photos-area {
        padding: 30px 0;
    }
    .photos-title {
        margin: 50px 0 42px;
    }
    .photos-title h3 {
        font-size: 28px;
    }
    /*Volunteer Page*/
    .volunteer-details {
        display: table;
        margin: 0 auto 37px;
    }
    /*Shop Page*/
    .mixer-sort li {
        margin-bottom: 15px;
        margin-right: 20px;
    }
    #mixer .product-details {
        display: table;
        margin: 50px auto 0;
        min-height: inherit;
    }
    div.product-thumbnail-outer-inner .addtocart-btn {
        left: 0;
        margin: 0 auto;
        right: 0;
        text-align: center;
        top: 40%;
    }
    .rplatform-pagination .page-numbers li {
        margin: 0 10px;
    }
    .product-thumbnail-outer-inner {
        text-align: center;
    }
    .woocommerce table.shop_table td {
        padding: 12px 8px;
    }
    .woocommerce #reviews #comments ol.commentlist {
        padding: 0;
    }
    .row.woo-products .col-sm-12{
        padding: 0;
    }
    .woocommerce div#reviews #comments h2 {
        margin-top: 0;
    }
    .woocommerce div#reviews #comments ol.commentlist li .comment-text {
        padding: 1em;
    }
    div.upsells.products h2 {
        margin: 0 0 20px;
    }
    .woocommerce #reviews #comments ol.commentlist li .comment-text p {
        font-size: 14px;
        margin: 0 0 5px;
    }
    div.comment-respond .comment-form {
        margin: 0;
    }
    .woocommerce div#respond input#submit, .woocommerce a.button, 
    .woocommerce button.button, .woocommerce input.button {
        color: #fff;
    }
    /*Shop Details Page*/
    .small-products {
        display: table;
        margin: 20px auto 0;
        text-align: center;
    }
    .small-products img {
        margin-bottom: 25px;
        margin-right: 0;
    }
    .product-description h3 {
        font-size: 25px;
        line-height: 1;
    }
    .product-description h4 {
        margin: 9px 0 25px;
    }
    .product-size-selctor p {
        font-size: 10px;
        padding: 14px 15px;
    }
    .product-color {
        margin: 40px 0 0;
    }
    .product-buttons-group ul li a {
        font-size: 14px;
        margin-bottom: 16px;
        margin-right: 12px;
        padding: 7px 14px;
    }
    .related-product .section-title {
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .product-details {
        min-height: 345px;
    }
    .product-img .filled-button {
        top: 102px;
    }
    .product-counter {
        margin-right: 30px;
    }
    .select2-container .select2-choice {
        padding: 8px 0 8px 8px;
    }
    /*Coming Soon Page*/
    div.comingsoon {
        position: relative;
    }
    .logo-top {
        margin: 0 auto 40px;
        width: 150px;
    }
    .logo-top img {
        width: 100%;
    }
    #comingsoon-countdown .countdown-section .countdown-amount,
    #comingsoon-countdown .countdown-section .countdown-amount {
        font-size: 30px !important;
    }
    #comingsoon-countdown .countdown-section{
        width: inherit !important;
        padding: 0 5px;
        margin-bottom: 40px;
    }
    form.coming-soon-form button {
        right: -2px;
    }
    .countdown-period {
        font-size: 14px !important;
    }
    form.coming-soon-form {
        width: 100%;
    }
    form.coming-soon-form input {
        width: 100%;
    }
    div.comingsoon .sub-page-header {
        margin-top: 0;
    }
    div.comingsoon-content {
        margin-top: 25px;
    }
    /*Sign Up*/
    .sign-up-area {
        padding: 80px 0;
    }
    .sign-up-area .no-padding{
        padding: 0 15px !important;
    }
    .sign-up-form {
        margin: 40px 0 0;
        padding: 0;
        width: 100%;
    }
    .sign-up-form input {
        width: 100%;
    }
    .sign-up-form input[name="fname"], .sign-up-form input[name="phone"] {
        margin-right: 0;
    }
    /*Tribe Events*/
    .tribe-bar-collapse #tribe-bar-collapse-toggle {
        margin-bottom: 15px;
        width: 100%;
    }
    #tribe-bar-form input[type="text"] {
        margin-bottom: 15px;
    }
    .tribe-bar-search-filter {
        padding: 0;
    }
    .tribe-events-list .tribe-events-event-image {
        width: 100%;
    }
    .tribe-events-list .tribe-events-event-image + div.tribe-events-content {
        clear: both;
        display: table;
        width: 100%;
    }
    .tribe-events-list .type-tribe_events h2 {
        font-size: 25px;
        margin-top: 15px;
    }
    .tribe-event-schedule-details {
        padding: 0 10px;
    }
    .tribe-events-sub-nav li a {
        background: transparent none repeat scroll 0 0;
        color: #ed1c24;
        margin-bottom: 0;
        padding: 10px 30px 0;
    }
    .tribe-events-sub-nav li a:hover{
        color: #ed1c24;
    }


}
@media screen and (min-width: 550px) and (max-width: 767px){

    .woocommerce .products .product {
        width: 50%;
    }

    .photos-area .col-xs-12,.our-volunteers-area .col-xs-12,.conference-area .col-xs-12{
        width: 50%;
    }

    .header-menuwithsearch .container,
    .header-menuclassic .conatiner {
        width: 100%;
    }    
    .volunteer-img {
        width: 100%;
    }
    .volunteer-img > img {
        max-width: inherit;
        width: 100%;
    }
    #mixer .col-xs-12{
        width: 50%;
    }
    #mixer .product-details {
        display: inline-block;
        margin: 30px auto 0;
        min-height: 380px;
    }
    .product-area .paginations {
        padding: 50px 0 0;
    }
    /*Biography*/
    .row.conf-res .col-xs-12{
        width: 50%;
    }
    /*comming Soon*/
    div.comingsoon {
        position: fixed;
    }
}

@media (min-width: 768px){
    .tablet-responsive-collapse .navbar-nav,
    .tablet-responsive-collapse .navbar-nav>li {
        float: none;
    }
}
