a,a:focus,.top-user-login i,.rplatform-title .title-link:hover,.sub-title .breadcrumb>.active,.modal-content .lost-pass:hover,.home-two-crousel .carousel-control:hover,
            #mobile-menu ul li:hover > a,#mobile-menu ul li.active > a,.top-align .sp-moview-icon-user,#sidebar .widget ul li a:hover,.continue:hover:after,.common-menu-wrap .nav>li>ul li.active > a,.common-menu-wrap .nav>li>ul li:hover > a,
            .rplatform-pagination ul li .current,.rplatform-pagination ul li a:hover,.woocommerce div.product p.price, .woocommerce div.product span.price,
            .product-thumbnail-outer h3 a:hover,.entry-title.blog-entry-title a:hover,.woocommerce table.shop_table td a:hover,.common-menu-wrap .nav>li>a:hover,.small-news h4 a:hover,.news-wrap h3 a:hover,.footer-menu li a:hover,.tribe-events-list-separator-month span,.tribe-event-schedule-details:before,.tribe-events-venue-details:before,.tribe-events-month .tribe-events-page-title,.btn-blog,
            .singnature a:hover,.home-one-crousel .carousel-control:hover,#sidebar h3.widget_title span,.news-feed-wrap a:hover,.meta-date,.product-details h4 a:hover,#product-crousel.owl-theme .owl-controls .owl-nav div:hover,#videoPlay:hover,
            .timeline-description h6,.news-post h3 a:hover,.news-post > a,.widget-title,.widget ul li a:hover,.widget-post h5,.widget-post a:hover,
            .woocommerce .comment-text .star-rating span,.woocommerce form .form-row.woocommerce-invalid label { color: #553a99; }.error-page-inner a.btn.btn-primary.btn-lg,.btn.btn-primary,.news-feed .news-feed-item .news-feed-info .meta-category a:hover,
            .spotlight-post .list-inline>li>a:after,input[type=submit],.form-submit input[type=submit],
            .widget .tagcloud a:hover,.carousel-left:hover, .carousel-right:hover,input[type=button],
            .woocommerce div.product form.cart .button,.woocommerce #respond input#submit,.woocommerce a.button, .woocommerce button.button, 
            .woocommerce input.button,.widget.widget_search #searchform .btn-search,#tribe-events .tribe-events-button, 
            #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, 
            .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, 
            .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], 
            .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a,.woocommerce a.button.alt,.woocommerce input.button.alt,
            .woocommerce .woocommerce-message,.filled-button:hover,.filled-button:focus,.news-img:hover .news-date:before,
            .featured-wrap:hover .news-date:before,.single-social-info.user,.single-social-info:hover,.single-social-info:focus,
            .common-menu-wrap .nav>li>ul li:hover > a:before,.common-menu-wrap .nav>li>ul li.active > a:before,.filled-button.user,
            .filled-button:hover,.filled-button:focus,.coming-soon-form button,.woocommerce .product-thumbnail-outer-inner .addtocart-btn a.button:hover,#resume-carousel .carousel-indicators li.active:before,#resume-carousel .carousel-indicators li:hover:before,.timeline-description:hover:before,.timeline-date:hover:after,.error-page-inner a.btn.btn-primary.btn-lg:hover, .btn.btn-primary:hover,.widget ul li a:before,a.tags.active,a.tags:hover,.woocommerce .site-content .single-product-details .cart .button:hover,.woocommerce #review_form #respond .comment-form .form-submit input:hover,.widget table thead tr th,ul.tribe-events-sub-nav li a{background-color: #553a99; }input:focus, textarea:focus, keygen:focus, select:focus,.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select { border-color: #553a99; }a:hover, .widget.widget_rss ul li a{ color: #d52685; }.error-page-inner a.btn.btn-primary.btn-lg:hover,.btn.btn-primary:hover,input[type=button]:hover,
                    .woocommerce div.product form.cart .button:hover,.woocommerce #respond input#submit:hover,
                    .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
                    .widget.widget_search #searchform .btn-search:hover,.woocommerce a.button.alt:hover,
                    .woocommerce input.button.alt:hover,.btn-block.submit_button:hover,input[type=submit]:hover{ background-color: #d52685; }.btn.btn-primary{ border-color: #d52685; }.header{ background: #eaeae0; }#masthead.sticky{ background-color: rgba(255,255,255,.97); }header.sticky{ position:fixed;top:0; z-index:99;margin:0 auto 30px; width:100%;box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);}header.sticky #header-container{ padding:0;transition: padding 200ms linear; -webkit-transition:padding 200ms linear;}header.sticky .navbar.navbar-default{ background: rgba(255,255,255,.95); border-bottom:1px solid #f5f5f5}.site-header{ min-height: 66px; }.footer-area, .footer-two-area{ background: #06396a; }