.js_custom_upload_media{
    border: 1px solid #e1e1e1;
    background-color: #f1f1f1;
    margin-top: 5px;
}
.js_custom_upload_media_img{
    border: 1px solid #e1e1e1;
    background-color: #f1f1f1;
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
}
.remove-image{
    border: 1px solid #e1e1e1;
    background-color: #f1f1f1;
    margin: 5px 10px;
    padding: 4px;
    cursor: pointer;
}
