body {
font-family: 'Montserrat', Arial, Helvetica, sans-serif;  
}
.filter-wrap {
  padding: 40px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 767px){  
  .filter-wrap {
    text-align: center;
  } 
}

.filter-select {
  height: 52px;
  border-radius: 50px;
  width: 250px;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
}
.filter-select:focus {
  outline: none;
}

#year-select {
  float: right;
}
@media (max-width: 767px){
  #year-select {
    float: none;
  } 
}
#month-select {
  float: left;
}
@media (max-width: 767px){ 
  #month-select {
    float: none;
    margin-top: 20px;
  }
}

.filter-select.blue {
  border-color: #0066ff;
  background-image: url("../img/arrow-select-blue.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.filter-select.orange {
  border-color: #ff7e29;
   background-image: url("../img/arrow-select-orange.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.no-padding {
  padding: 0;
}
.media-title {
  margin-bottom: 60px;
  text-align: center;

}
.media-title h3 {
   font-size: 32px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
}
.prev-wrap {
  margin-bottom: 40px;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.img-box {
  overflow: hidden;
}
.img-box img {
  transform: scale(1);
}

.img-box:hover img {
  transform: scale(1.1);
  transition: all 400ms ease 0s;
}
.thumb-date {
  margin-bottom: 15px;
}
.thumb-date .fa {
  margin-right: 10px;
  color: #0066ff;
}
.short-desc {
  margin-bottom: 15px!important;
}
.short-desc a {
  color: #000;
}
.short-desc a:hover {
  text-decoration: none;
}

.thumb-description {
  padding-top: 15px;
}

.readmore.blue {
  color: #0066ff;
}

.prev-wrap.video .img-box {
  position: relative;
}
.prev-wrap.video .img-box:before {
  content: "\f16a";
  font:normal normal normal 48px/1 FontAwesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #0066ff;
  z-index: 100;
}
.prev-wrap.video .img-box:hover:before {
  color: #fff;
}
.btn-return{
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}


.btn-return:hover {
  text-decoration: none;
}

.btn-return.orange {
  color: #ff7e29;
}
.btn-return .fa {
  margin-right: 10px;
  margin-bottom: 20px;
}

.media-wrap {
  margin-top: 20px;
  padding: 40px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.media-caption h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.media-date,
.media-location {
  margin-right: 25px;
  margin-bottom: 30px;
}
.media-date .fa,
.media-location .fa {
  font-size: 14px;
  margin-right: 10px;
}
.media-date.orange .fa {
  color: #ff7e29;
}
.media-location.blue .fa {
  color: #0066ff;
}

.media-image,
.media-video {
  margin-top: 20px;
}

.media-video {
  position: relative;
  padding-bottom: 50%;
}
.media-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;

}

.media-image img {
  max-width: 100%;
  height: auto;
}
.media-description {
  margin-top: 20px;
}
.media-description p {
  font-size: 16px;
  color: #000;
}


.btn-share {
  margin-top: 30px;
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  padding: 0 15px;
  color: #fff;
  margin-right: 30px;
  width: 230px;
}
.btn-share .fa {
  margin-right: 10px;
}
.btn-share.facebook {
  background-color: #3b5998;
}

.btn-share.twitter {
  background-color: #00aeef;
}
.media-image > img{
  width:100%
}
.filter-search-text {
  height: 52px;
  border-radius: 50px;
  width: 250px;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
}
.filter-search-text:focus {
  outline: none;
}
.filter-search-text.blue {
  border: 1px solid #0066ff;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
